---
const ABOUT_STYLES = [
  'col-span-1 xl:col-span-4',
  'row-span-1',
  'bg-slate-300/70',
  'dark:bg-slate-900/90',
  'dark:text-slate-300',
  'rounded-[10px]',
  'flex',
  'items-center',
  'justify-center',
  'font-bold',
  'text-black',
  'font-primary',
  'w-full',
  'xl:h-full',
  'transition-all',
  'text-3xl',
  'flex-row',
  'gap-2',
  'text-slate-900',
  'dark:text-slate-300',
  'p-2',
  'flex-wrap',
  'hover:shadow-lg',
  'shadow-md'
].join(' ')
interface Props {
  lang: string
}
const { lang = 'en' }: Props = Astro.props
---

<a
  class={ABOUT_STYLES}
  transition:name='featured'
  href={lang === 'en' ? '/' : '/es'}
>
  <p class='text-emerald-950 dark:text-emerald-300'>
    <!-- Projects -->
    {lang === 'en' ? 'Projects &' : 'Proyectos y'}
  </p>
  <p class='text-cyan-950 dark:text-cyan-300'>
    <!-- Featured Resources -->
    {lang === 'en' ? 'Featured' : 'Destacados'}
  </p>
</a>
