---
import Template from './template.astro'
---

<Template index={8}>
  <h1
    class='text-4xl font-bold text-gray-100 animate-slide-in-bottom bg-blueBoard rounded px-2 py-1 text-balance text-center mt-4'
  >
    Crea una rama de trabajo para tus cambios
  </h1>
  <p class='text-balance text-center text-slate-900'>
    Con el comando <code
      class='text-blue-300 italic px-1 py-0.5 rounded bg-slate-900'
      >git checkout -b nombre-de-la-rama
    </code>
    puedes clonar tu fork en tu máquina local. Ejemplo:
  </p>
  <span>
    <code class='text-blue-300 italic px-1 py-0.5 rounded bg-slate-900'
      >git checkout -b roadmap-17
    </code>
  </span>
  <img
    src='https://res.cloudinary.com/dm064xuo5/image/upload/f_auto,q_auto/v1/jamerrq.dev/pviicckgv11xqwmiokfw'
    alt='fork on GitHub'
    class='rounded-lg xl:w-2/3 mt-4'
  />
</Template>
