---
import Template from './template.astro'
---

<Template index={7}>
  <h1
    class='text-4xl font-bold text-gray-100 animate-slide-in-bottom bg-blueBoard rounded px-2 py-1'
  >
    Clona tu fork en tu máquina local
  </h1>
  <p class='text-balance text-center text-slate-900'>
    Con el comando <code
      class='text-blue-300 italic px-1 py-0.5 rounded bg-slate-900'
      >git clone</code
    > puedes clonar tu fork en tu máquina local. Ejemplo:
  </p>
  <span>
    <code class='text-blue-300 italic px-1 py-0.5 rounded bg-slate-900'
      >git clone git@github.com:jamerrq/roadmap-csharp.git
    </code>
  </span>
  <img
    src='https://res.cloudinary.com/dm064xuo5/image/upload/f_auto,q_auto/v1/jamerrq.dev/idfg22ucidlu2bix8as5'
    alt='fork on GitHub'
    class='rounded-lg xl:w-1/2 mt-4'
  />
</Template>
