---
import Template from './template.astro'
---

<Template index={0}>
  <style>
    .wave {
      animation-name: wave-animation;
      animation-duration: 2.5s; /* Change to speed up or slow down */
      animation-iteration-count: infinite; /* Never stop waving :) */
      transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
      display: inline-block;
    }

    @keyframes wave-animation {
      0% {
        transform: rotate(0deg);
      }
      10% {
        transform: rotate(14deg);
      }
      20% {
        transform: rotate(-8deg);
      }
      30% {
        transform: rotate(14deg);
      }
      40% {
        transform: rotate(-4deg);
      }
      50% {
        transform: rotate(10deg);
      }
      60% {
        transform: rotate(0deg);
      } /* Reset for the last half to pause */
      100% {
        transform: rotate(0deg);
      }
    }

    @keyframes rotate {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  </style>
  <span
    class='px-2 py-1 rounded text-center font-primary font-bold animate-slide-in-top text-3xl bg-blueBoard w-fit'
  >
    ¡Hola! <span class='wave'>👋🏾</span><br /> Bienvenidos a
  </span>
  <img
    src='https://res.cloudinary.com/dm064xuo5/image/upload/f_auto,q_auto/v1/jamerrq.dev/z41jwrqiwb3yuy91j4gu'
    alt='open source illustration'
    class='animate-fade-in-right animate-delay-500 w-[150px] mt-3 mb-1'
  />
  <h1
    class='text-5xl font-bold animate-slide-in-bottom bg-blueBoard rounded px-2 py-1'
    id='slide-title'
  >
    Open Source Para Todos
  </h1>
  <h2
    class='text-base text-center font-semibold font-secondary animate-fade-in-left animate-delay-500 bg-blueBoard rounded px-2 py-1'
  >
    Aprendamos acerca del mundo del código abierto, cómo contribuir y colaborar
    en proyectos de software libre
  </h2>
  <span class='italic text-slate-900 mt-8'>
    Puedes visitar esta presentación en
    <a
      href='https://jamerrq.deno.dev/oss'
      class='text-blue-700 hover:underline'
    >
      jamerrq.deno.dev/opensource
    </a>
  </span>
</Template>
<script>
  const h1 = document.querySelector('#slide-title')!
  const h1ClassList = h1?.classList
  setTimeout(() => {
    if (h1ClassList.contains('animate-slide-in-bottom')) {
      h1ClassList.remove('animate-slide-in-bottom')
    }
    h1ClassList.add('animate-blink')
    h1ClassList.remove('animate-slide-in-bottom')
    if (h1ClassList.contains('animate-iteration-count-thrice')) {
      h1ClassList.remove('animate-iteration-count-thrice')
    }
    h1ClassList.add('animate-iteration-count-thrice')
  }, 1000)
</script>
