---
import Template from './template.astro'
---

<Template index={4}>
  <h1
    class='text-4xl font-bold text-gray-100 animate-slide-in-bottom bg-blueBoard rounded px-2 py-1'
  >
    Configuración de llaves SSH en GitHub
  </h1>
  <p class='text-balance text-center text-slate-900'>
    Tener configuradas las llaves SSH en GitHub es una buena práctica para
    evitar tener que ingresar tu usuario y contraseña cada vez que haces un push
    a tu repositorio, además de que es más seguro de esta manera
  </p>
  <span class='bg-blueBoard px-1 py-0.5 rounded'>
    Con el comando <code class='text-slate-900 bg-gray-100 rounded px-1'
      >ssh-keygen</code
    > puedes generar una llave SSH desde tu terminal
  </span>
  <img
    src='https://res.cloudinary.com/dm064xuo5/image/upload/f_auto,q_auto/v1/jamerrq.dev/ma9kmtkev08n8jk6wf8e'
    alt='gpg keys example'
    class='rounded-lg xl:w-2/3 mt-4'
  />
</Template>
