---
import Template from './template.astro'
---

<Template index={9}>
  <h1
    class='text-4xl font-bold text-gray-100 animate-slide-in-bottom bg-blueBoard rounded px-2 py-1'
  >
    Branch: ZSH Plugin for GIT branch aliases
  </h1>
  <p class='text-balance text-center text-slate-900'>
    Si usas ZSH puedes agregar este plugin que en lo personal me hace la vida
    más fácil. Con este, podrías ahora tener un comando más familiar como <code
      class='text-blue-300 italic px-1 py-0.5 rounded bg-slate-900'
      >branch new branch-name
    </code>
    puedes clonar tu fork en tu máquina local. Ejemplo:
  </p>
  <span>
    <code class='text-blue-300 italic px-1 py-0.5 rounded bg-slate-900'
      >branch new roadmap-17
    </code>
  </span>
  <img
    src='https://res.cloudinary.com/dm064xuo5/image/upload/f_auto,q_auto/v1/jamerrq.dev/jnux6zovz4edb39vle5f'
    alt='fork on GitHub'
    class='rounded-lg xl:w-2/3 mt-4'
  />
  <span class='italic text-slate-950'>
    Visita <a
      href='https://github.com/marioizquierdo/git-branch-zsh-command'
      class='text-blue-300'
      target='_blank'
      rel='noopener noreferrer'
      ><code class='text-blue-300 italic px-1 py-0.5 rounded bg-slate-900'
        >git-branch-zsh-command</code
      ></a
    >
    el repositorio de este plugin en GitHub
  </span>
</Template>
