---
import Template from './template.astro'
---

<Template index={11}>
  <h1
    class='text-xl font-bold text-gray-100 animate-slide-in-bottom bg-blueBoard rounded px-2 py-1 text-center text-pretty max-w-1/2'
  >
    Recomendaciones a tener en cuenta a la hora de contribuir a un proyecto Open
    Source
  </h1>
  <ul
    class='text-center text-balance [&_li]:bg-slate-800 [&_li]:px-3 [&_li]:py-2 [&_li]:rounded [&_li]:font-semibold flex gap-3 flex-col max-w-1/2 mx-auto mt-4 w-[33%] xl:w-[50%] xl:grid xl:grid-cols-2 [&_li]:text-pretty [&_li]:flex [&_li]:items-center [&_li]:justify-center'
  >
    <li>
      <span>
        <span class='font-bold'>1.</span>
        <span>
          <span class='font-bold'>Conocer el proyecto:</span> Antes de contribuir
          a un proyecto, es importante conocerlo y entender su propósito.
        </span>
      </span>
    </li>
    <li>
      <span>
        <span class='font-bold'>2.</span>
        <span>
          <span class='font-bold'>Leer la documentación:</span> Es importante leer
          la documentación del proyecto para entender cómo funciona y cómo contribuir.
        </span>
      </span>
    </li>
    <li>
      <span>
        <span class='font-bold'>3.</span>
        <span>
          <span class='font-bold'>No todo es código:</span> No es necesario ser un
          experto en programación para contribuir a un proyecto Open Source. Hay
          muchas formas de contribuir. Sólo asegúrate de aportar valor.
        </span>
      </span>
    </li>
    <li>
      <span>
        <span class='font-bold'>4.</span>
        <span>
          <span class='font-bold'>Respetar las normas:</span> Cada proyecto tiene
          sus propias normas y guías de contribución. Es importante respetarlas.
        </span>
      </span>
    </li>
    <li>
      <span>
        <span class='font-bold'>5.</span>
        <span>
          <span class='font-bold'>Ser amable y respetuoso:</span> Al contribuir a
          un proyecto Open Source, es importante ser amable y respetuoso con los
          demás colaboradores.
        </span>
      </span>
    </li>
    <li>
      <span>
        <span class='font-bold'>6.</span>
        <span>
          <span class='font-bold'>A veces es mejor abrir un issue:</span> Si no estás
          seguro de cómo contribuir, es mejor abrir un issue y preguntar.
        </span>
      </span>
    </li>
  </ul>
</Template>
