---
import Template from './template.astro'
---

<Template index={12}>
  <h1
    class='text-xl font-bold text-gray-100 animate-slide-in-bottom bg-blueBoard rounded px-2 py-1 text-center text-pretty max-w-1/2'
  >
    Algunas Referencias
  </h1>
  <span class='xl:w-1/2 text-balance text-center text-slate-950'>
    <!-- The journey doesn't end here, this world is huge but -->
    El camino no termina aquí, el mundo del código abierto es muy grande y si te
    interesa lo suficiente te será fácil encontrar tu lugar. Aquí tienes algunas
    referencias para que puedas seguir aprendiendo y contribuyendo a la comunidad!
  </span>
  <ul
    class='text-center text-balance [&_li]:bg-slate-800 [&_li]:px-3 [&_li]:py-2 [&_li]:rounded [&_li]:font-semibold flex gap-1 flex-col w-1/2 items-center mx-auto mt-4 [&_li]:text-blue-100 [&_li]:w-full [&_li]:shadow-md'
  >
    <li class='hover:scale-105 transition-scale duration-300 hover:shadow'>
      <span>
        1. <a href='https://opensource.org/' target='_blank' rel='noreferrer'
          >Iniciativa Open Source</a
        >
      </span>
    </li>
    <li class='hover:scale-105 transition-scale duration-300 hover:shadow'>
      2. <a href='https://cli.github.com/' target='_blank' rel='noreferrer'>
        GitHub Cli</a
      >
    </li>
    <li class='hover:scale-105 transition-scale duration-300 hover:shadow'>
      3. <a
        href='https://github.com/mouredev/roadmap-retos-programacion'
        target='_blank'
        rel='noreferrer'
      >
        Roadmap de la comunidad
      </a>
    </li>
    <li class='hover:scale-105 transition-scale duration-300 hover:shadow'>
      4. <a
        href='https://www.youtube.com/watch?v=PVD1LNDxOnc&ab_channel=IBMTechnology'
        target='_blank'
        rel='noreferrer'
      >
        Open Source Explained by IBM
      </a>
    </li>
    <li class='hover:scale-105 transition-scale duration-300 hover:shadow'>
      5. <a href='https://www.gitkraken.com/' target='_blank' rel='noreferrer'>
        GitKraken
      </a>
    </li>
    <li class='hover:scale-105 transition-scale duration-300 hover:shadow'>
      6. <a
        href='https://github.com/marioizquierdo/git-branch-zsh-command'
        target='_blank'
        rel='noreferrer'
      >
        Branch: ZSH Plugin
      </a>
    </li>
    <!-- Oh My ZSH -->
    <li class='hover:scale-105 transition-scale duration-300 hover:shadow'>
      7. <a href='https://ohmyz.sh/' target='_blank' rel='noreferrer'>
        Oh My ZSH
      </a>
    </li>

    <span
      class='italic text-slate-950 font-semibold mt-5 xl:w-1/2 text-balance text-center'
    >
      Puedes visitar <a
        href='https://github.com/firstcontributions/first-contributions/blob/main/translations/README.es.md'
        target='_blank'
        rel='noopener noreferrer'
        class='text-blue-600 underline'>Primeras Contribuciones</a
      > un proyecto patrocinado por
      <a href='https://www.digitalocean.com/'> Digital Ocean,</a>
      donde puedes dar un vistazo a proyectos para primeras contribuciones
    </span>
  </ul>
</Template>
