---
import Template from './template.astro'
---

<Template index={2}>
  <h1
    class='xl:text-5xl text-xl font-bold text-gray-100 animate-slide-in-bottom bg-blueBoard rounded px-2 py-1 -mt-8 mb-8'
  >
    Introducción a la Iniciativa Open Source
  </h1>
  <div class='flex flex-row items-center justify-center'>
    <img
      src='https://res.cloudinary.com/dm064xuo5/image/upload/f_auto,q_auto/ed2a8b0dvg5ltorw45eq'
      alt='open source illustration'
      class='animate-fade-in-right animate-delay-500 w-1/3 mt-3 mb-1 hidden lg:block xl:block'
    />
    <aside class='ml-8 xl:max-w-[50%] text-balance xl:text-lg'>
      <ul class='list-disc font-semibold text-slate-900 gap-2 flex flex-col'>
        <li>
          <span>
            Nace a finales de los 90s impulsado por la comunidad de software
            libre y el desarrollo del kernel de Linux por Linus Torvalds
          </span>
        </li>
        <li>
          <span>
            Se basa en la colaboración y la transparencia en el desarrollo de
            software (free as in freedom, not as in free beer)
          </span>
        </li>
        <li>
          <span>
            Permite a cualquier persona acceder al código fuente de un programa
            y modificarlo a tu gusto
          </span>
        </li>
        <li>
          <span>
            Se rige por una licencia que establece las condiciones de uso y
            distribución
          </span>
        </li>
        <li>
          <span>
            Hoy en día existen más de 128M* de proyectos de código abierto en
            todo el mundo con grandes comunidades de desarrolladores y usuarios
          </span>
        </li>
      </ul>
    </aside>
  </div>
  <quote class='bg-slate-950 px-2 py-1 rounded italic font-semibold m-4'>
    <p>
      «Si he visto más lejos que otros, ha sido porque he subido a hombros de
      gigantes.»
    </p>
    <cite>Isaac Newton</cite>
  </quote>
  <span class='italic text-slate-950'>
    *Fuente: <a
      href='https://www.youtube.com/watch?v=CML6vfKjQss&ab_channel=LearnFastMakeThings'
      target='_blank'
      rel='noreferrer'
      class='text-blue-950 underline'
    >
      Contributing to Open Source Can Change Your Life (YouTube)
    </a>
  </span>
</Template>
