---
import Template from './template.astro'
---

<Template index={6}>
  <h1
    class='text-4xl font-bold text-gray-100 animate-slide-in-bottom bg-blueBoard rounded px-2 py-1'
  >
    ¿Qué es y cómo hacer un Fork en GitHub?
  </h1>
  <p class='text-balance text-center text-slate-900'>
    Un Fork no es más que una copia de un repositorio ajeno en tu cuenta de
    GitHub. Es una forma de contribuir a proyectos de código abierto sin tener
    que pedir permiso al dueño del repositorio original directamente.
  </p>
  <img
    src='https://res.cloudinary.com/dm064xuo5/image/upload/f_auto,q_auto/v1/jamerrq.dev/pk8uxicy1cxsp3nai0ud'
    alt='fork on GitHub'
    class='rounded-lg w-1/2 mt-4'
  />
</Template>
