---
import Template from './template.astro'
---

<Template index={13} last>
  <h1
    class='text-xl font-bold text-gray-100 animate-slide-in-bottom bg-blueBoard rounded px-2 py-1 text-center text-pretty max-w-1/2'
  >
    ¡Muchas gracias!
  </h1>
  <img
    src='https://jamerrq.deno.dev/og-image2.png'
    class='rounded w-2/3'
    alt='@jamerrq'
  />
  <span class='text-slate-800 font-semibold italic [&_a]:text-blue-500'>
    Presentación para el <a
      href='https://holamundo.day/'
      target='_blank'
      rel='noreferrer'>#HolaMundoDay</a
    > por <a
      href='https://www.twitch.tv/mouredev'
      target='_blank'
      rel='noreferrer'>MoureDev</a
    >
  </span>
</Template>
