---
import Template from './template.astro'
---

<Template index={6}>
  <h1
    class='text-4xl font-bold text-gray-100 animate-slide-in-bottom bg-blueBoard rounded px-2 py-1'
  >
    ¿Qué es y cómo hacer un Fork en GitHub?
  </h1>
  <p class='text-balance text-center text-slate-900 text-base'>
    Un Fork no es más que una copia de un repositorio de código abierto a tu
    nombre. Es una forma de contribuir a proyectos de código abierto ya que
    modificas el código fuente y luego puedes solicitar que tus cambios sean
    incluidos en el proyecto original.
  </p>
  <img
    src='https://res.cloudinary.com/dm064xuo5/image/upload/f_auto,q_auto/v1/jamerrq.dev/pk8uxicy1cxsp3nai0ud'
    alt='fork on GitHub'
    class='rounded-lg xl:w-2/3 mt-4'
  />
</Template>
