<div>
  <div
    id='output'
    style='padding:10px; background: #000000ee; overflow:auto;width:90%; font-size:0.25rem; font-family: monospace; color: #0f0; line-height: 0.45rem; margin: 0 auto;'
  >
  </div>
</div>
<script src='../../scripts/ascii/magic3d.ts'></script>
