---
interface Props {
  ncols?: number
  nrows?: number
  animated?: boolean
  delay?: number
  title: string
  href: string
  otherStyles?: string
  external?: boolean
}

const { props }: { props: Props } = Astro
const { href, title, external = false } = props
---

<a
  href={href}
  title={title}
  data-animated={props.animated}
  target={external ? '_blank' : '_self'}
  class=`card bg-slate-300/90 dark:bg-slate-900/95 rounded-[10px] flex items-center justify-center font-bold dark:text-slate-300 font-primary w-full h-full shadow-sm shadow-cyan-950 dark:shadow-cyan-400 text-base py-3 px-2 relative border-2 border-transparent hover:border-2 hover:border-cyan-950 hover:dark:border-cyan-500/60 [&_p]:text-cyan-950 [&_p]:dark:text-cyan-300 data-[animated]:animate-blurred-fade-in ${props?.otherStyles}`
  rel='noreferrer'
>
  <slot />
</a>
