---
const ABOUT_STYLES = [
  'col-span-4',
  'row-span-2',
  'bg-slate-300/70',
  'dark:bg-slate-900',
  'dark:text-slate-300',
  'rounded-sm',
  // 'shadow-[0_0_0.5rem_rgba(0_0_0_0.5)]',
  'flex',
  'items-center',
  'justify-center',
  'font-bold',
  'font-rubik-doodle',
  'w-full',
  'h-full',
  'transition-all',
  // 'border-2',
  'dark:border-emerald-300',
  'border-emerald-950',
  'text-2xl',
  'flex-col',
  '[&>p]:text-base',
  'text-slate-900',
  'dark:text-slate-300',
  'p-2'
].join(' ')
interface Props {
  lang?: string
}
const { lang = 'en' }: Props = Astro.props
---

<article class={ABOUT_STYLES}>
  <h1 class='dark:text-emerald-300'>
    {lang === 'en' ? 'About' : 'Acerca de'}
  </h1>
  <div
    class='flex flex-col items-center p-4 justify-around w-full font-merriweather text-sm xl:text-base gap-2'
  >
    <p>
      <!-- Tools that make my work (and life) easier -->
      {
        lang === 'en'
          ? 'Tools that make my work (and life) easier'
          : 'Herramientas que hacen mi trabajo (y vida) más fácil'
      }
    </p>
    <quote class='italic text-cyan-900 dark:text-cyan-300 xl:text-base text-xs'>
      <!-- "If I have seen further [than others], it is by standing on the shoulders
      of giants" - Isaac Newton -->
      {
        lang === 'en'
          ? '"If I have seen further [than others], it is by standing on the shoulders of giants" - Isaac Newton'
          : '"Si he visto más lejos [que otros], es por estar de pie sobre los hombros de gigantes" - Isaac Newton'
      }
    </quote>
  </div>
</article>
