---
const ABOUT_ME_STYLES = [
  'col-span-4',
  'row-span-2',
  'bg-slate-300',
  'dark:bg-slate-900',
  'dark:text-slate-300',
  'rounded-sm',
  'shadow-[0_0_0.5rem_rgba(0_0_0_0.5)]',
  'flex',
  'items-center',
  'justify-center',
  'font-bold',
  'text-black',
  'font-rubik-doodle',
  'w-full',
  'h-full',
  'transition-all',
  'border-2',
  'dark:border-emerald-300',
  'border-emerald-950',
  'responsive-text-xs',
  'flex-col',
  '[&>p]:font-fira',
  '[&>p]:text-base',
  'text-slate-900',
  'dark:text-slate-300'
].join(' ')
---

<article class={ABOUT_ME_STYLES}>
  <h1 class='dark:text-emerald-300'>About </h1>
  <div
    class='flex flex-col items-center p-4 justify-around w-full font-merriweather responsive-text-xxs gap-2'
  >
    <p class='italic text-cyan-900 dark:text-cyan-300'>
      "If I have seen further [than others], it is by standing on the shoulders
      of giants" - Isaac Newton
    </p>
    <p class='responsive-text-xxs font-fira'>
      These are the tools that make my work (and life) easier 󰣐
    </p>
  </div>
</article>
