---
import Box from '@components/boxes/box.astro'
interface Props {
  lang?: string
}
const { lang = 'en' }: Props = Astro.props
---

<Box
  title='About my Tech Stack'
  otherStyles='xl:row-span-2 xl:col-span-4 animate-delay-100'
  animated
>
  <h1 class='dark:text-emerald-300 text-4xl'>
    {lang === 'en' ? 'About' : 'Acerca de'}
  </h1>
  <div
    class='flex flex-col items-center p-4 justify-around w-full font-averia text-sm xl:text-base gap-2'
  >
    <p>
      {
        lang === 'en'
          ? 'Tools that make my work (and life) easier'
          : 'Herramientas que hacen mi trabajo (y vida) más fácil'
      }
    </p>
    <quote class='italic text-cyan-900 dark:text-cyan-300 xl:text-base text-xs'>
      {
        lang === 'en'
          ? '"If I have seen further [than others], it is by standing on the shoulders of giants" - Isaac Newton'
          : '"Si he visto más lejos [que otros], es por estar de pie sobre los hombros de gigantes" - Isaac Newton'
      }
    </quote>
  </div>
</Box>
