---
import Title from './title.astro'
import About from './about.astro'
import WebDev from './web-dev.astro'
import Buttons from '../buttons.astro'
import DevTools from './dev-tools.astro'
import Os from './os.astro'
import Testing from './testing.astro'
import Languages from './languages.astro'

const BENTO_STYLES = [
  'bg-[#1b383c]',
  'hidden',
  'xl:grid',
  'items-center',
  'justify-center',
  'w-[95dvw]',
  'h-[95dvh]',
  'content-center',
  'rounded-sm',
  'shadow-xl',
  'border-2',
  'grid-cols-6',
  'grid-rows-6',
  'gap-3',
  'p-3'
].join(' ')
---

<div class={BENTO_STYLES} id='bento-grid'>
  <About />
  <Buttons />
  <DevTools />
  <WebDev />
  <Title />
  <Os />
  <Languages />
  <Testing />
</div>
