---
const SOCIALS_STYLES: string = [
  'col-span-2',
  'row-span-2',
  'gap-2',
  'bg-indigo-400',
  'rounded-sm',
  'shadow-[0_0_0.5rem_rgba(0_0_0_0.5)]',
  'flex',
  'items-center',
  'justify-center',
  'responsive-text',
  // 'font-bold',
  'text-indigo-950',
  'font-rubik-doodle',
  'w-full',
  'h-full',
  'transition-all',
  'duration-200',
  'dark:transition-all',
  'dark:border-indigo-300',
  'border-indigo-950',
  // 'hover:border-indigo-100',
  'border-2',
  'dark:bg-indigo-900',
  'dark:text-indigo-300',
  // 'hover:scale-[1.02]',
  // 'hover:duration-200',
  // 'hover:ease-in-out',
  'grid',
  'grid-rows-2',
  'grid-cols-1'
].join(' ')
---

<article class={SOCIALS_STYLES} title='My Links'>
  <div class='flex gap-2 justify-center text-black'>
    <p class='font-semibold'>Languages</p>
    <p class='font-fira'>󰌝</p>
  </div>
  <div class='flex justify-around [&>a]:font-fira'>
    <!-- Python -->
    <a
      href='https://www.python.org/'
      target='_blank'
      rel='noopener noreferrer'
      class='font-fira hover:scale-110 hover:text-indigo-300'
      title='Python'
    >
      󰌠
    </a>
    <!-- JavaScript -->
    <a
      href='https://developer.mozilla.org/en-US/docs/Web/JavaScript'
      target='_blank'
      rel='noopener noreferrer'
      class='font-fira hover:scale-110 hover:text-indigo-300'
      title='JavaScript'
    >
      󰌞
    </a>
    <!-- TypeScript -->
    <a
      href='https://www.typescriptlang.org/'
      target='_blank'
      rel='noopener noreferrer'
      class='font-fira hover:scale-110 hover:text-indigo-300'
      title='TypeScript'
    >
      󰛦
    </a>
    <!-- Bash -->
    <a
      href='https://www.gnu.org/software/bash/'
      target='_blank'
      rel='noopener noreferrer'
      class='font-fira hover:scale-110 hover:text-indigo-300'
      title='Bash'
    >
      
    </a>
    <!-- C# -->
    <a
      href='https://docs.microsoft.com/en-us/dotnet/csharp/'
      target='_blank'
      rel='noopener noreferrer'
      class='font-fira hover:scale-110 hover:text-indigo-300'
      title='C#'
    >
      󰌛
    </a>
  </div>
</article>
