---
const TESTING_STYLES = [
  'col-span-1 xl:col-span-1',
  'row-span-2',
  'gap-2',
  'bg-slate-300',
  'rounded-sm',
  'shadow-[0_0_0.5rem_rgba(0_0_0_0.5)]',
  'flex',
  'flex-col',
  'items-center',
  'justify-center',
  'text-2xl',
  'font-bold',
  'dark:text-emerald-400',
  'text-emerald-950',
  'font-rubik-doodle',
  'w-full',
  'h-full',
  'transition-all',
  'duration-200',
  'border-emerald-950',
  'dark:border-emerald-300',
  // 'border-2',
  'dark:bg-slate-900',
  'p-2'
].join(' ')

import TechIcon from '@components/icons/tech-icon.astro'
import TechIcons, { type IconProps } from '@data/tech-icons'
const { testing } = TechIcons

interface Props {
  lang?: string
}
const { lang = 'en' }: Props = Astro.props
---

<article class={TESTING_STYLES}>
  <header class='flex gap-2'>
    <h1>
      {lang === 'en' ? 'Testing' : 'Pruebas'}
    </h1>
  </header>
  <main
    class='xl:grid flex place-items-center gap-2 grid-cols-2 grid-rows-2 [&>a>img]:rounded-sm [&>a>img]:border-2'
  >
    {testing.map((icon: IconProps) => <TechIcon obj={icon} />)}
  </main>
</article>
