---
import Box from '@components/boxes/box.astro'

import TechIcon from '@components/icons/tech-icon.astro'
import TechIcons, { type IconProps } from '@data/tech-icons'
const { testing } = TechIcons

interface Props {
  lang?: string
}
const { lang = 'en' }: Props = Astro.props
---

<Box
  title='Testing'
  otherStyles='xl:row-span-2 gap-4 animate-delay-300'
  animated
>
  <header>
    <h1 class='text-2xl'>
      {lang === 'en' ? 'Testing' : 'Pruebas'}
    </h1>
  </header>
  <section
    class='xl:grid flex place-content-center gap-2 grid-cols-2 grid-rows-2 [&>a>img]:rounded-sm [&>a>img]:border-2 w-full justify-items-center'
  >
    {testing.map((icon: IconProps) => <TechIcon obj={icon} />)}
  </section>
</Box>
