---
const TITLE_STYLES: string = [
  'row-span-2',
  'col-span-2',
  'dark:bg-red-900',
  'dark:text-red-300',
  'text-red-950',
  'bg-red-400',
  'p-2',
  'rounded-sm',
  'w-full',
  'flex',
  'h-full',
  'items-center',
  'justify-center',
  'flex-col',
  'font-rubik-doodle',
  'shadow-[0_0_0_0.5rem_rbga(0_0_0_0.5)]'
].join(' ')
---

<a class={TITLE_STYLES} transition:name='Tech Stack' href='/'>
  <p class='font-semibold responsive-text'>Tech Stack </p>
  <p class='font-semibold'>Artists have brushes. I have these.</p>
</a>
