---
import Hbox from '@components/boxes/hbox.astro'

interface Props {
  lang?: string
}
const { lang = 'en' }: Props = Astro.props
---

<Hbox
  title='Back Home'
  otherStyles='xl:col-span-2 xl:row-span-2'
  href={lang === 'en' ? '/' : '/es'}
>
  <div
    class='flex flex-col font-merriweather min-w-[50%]'
    transition:name='tech-stack'
  >
    <p class='font-semibold text-2xl font-rubik-doodle'>
      {lang === 'en' ? 'Tech Stack' : 'Mi Stack'}
    </p>
    <p class='font-semibold text-balance text-sm xl:text-base'>
      {
        lang === 'en'
          ? 'Painters have brushes, I got these <3'
          : 'Los pintores tienen pinceles, yo tengo estas <3'
      }
    </p>
  </div>
</Hbox>
