---
const WEB_DEV_STYLES = [
  'col-span-1 xl:col-span-2',
  'row-span-4',
  'gap-1',
  'bg-slate-300',
  'rounded-sm',
  'shadow-[0_0_0.5rem_rgba(0_0_0_0.5)]',
  'flex',
  'items-center',
  'justify-center',
  'align-center',
  'font-bold',
  'text-blue-950',
  'font-rubik-doodle',
  'w-full',
  'h-full',
  'transition-all',
  // 'border-2',
  'border-blue-950',
  'dark:border-blue-300',
  'dark:bg-slate-900',
  'dark:text-blue-300',
  'flex',
  'flex-col',
  'p-2'
].join(' ')

import TechIcon from '@components/icons/tech-icon.astro'
import TechIcons from '@data/tech-icons'
const { backend, frontend, cloud } = TechIcons

interface Props {
  lang?: string
}
const { lang = 'en' }: Props = Astro.props
---

<article class={WEB_DEV_STYLES}>
  <header class='flex gap-2 text-2xl'>
    <h1>
      {
        {
          en: 'Web Development',
          es: 'Desarrollo Web'
        }[lang]
      }
    </h1>
  </header>
  <ul class='text-xl items-center p-1 w-full flex flex-col gap-1'>
    <li>
      <header
        class='flex gap-2 justify-center dark:text-amber-300 text-amber-950'
      >
        <h2>Backend</h2>
      </header>
      <main>
        <ul
          class='flex gap-1 w-full flex-wrap  p-1 rounded-sm'
        >
          {
            backend.map((tech) => (
              <li>
                <TechIcon obj={tech} />
              </li>
            ))
          }
        </ul>
      </main>
      <li>
        <header
          class='flex gap-2 justify-center dark:text-amber-300 text-amber-950'
        >
          <h2>Frontend</h2>
          <!-- <p class='font-thin'></p> -->
        </header>
        <ul class='flex gap-1 w-full flex-wrap [&>li>a>img]:border-2'>
          {
            frontend.map((tech) => (
              <li>
                <TechIcon obj={tech} />
              </li>
            ))
          }
        </ul>
      </li>
      <li>
        <header
          class='flex gap-2 justify-center dark:text-amber-300 text-amber-950'
        >
          <h2>
            {
              {
                en: 'Cloud',
                es: 'Nube'
              }[lang]
            }
          </h2>
          <!-- <p class='font-thin'>󰅟</p> -->
        </header>
        <ul class='flex gap-1 w-full flex-wrap [&>li>a>img]:border-2'>
          {
            cloud.map((tech) => (
              <li>
                <TechIcon obj={tech} />
              </li>
            ))
          }
        </ul>
      </li>
    </li>
  </ul>
</article>
