<div class='peepo' data-css-peeps='twists1 calm laptop'></div>
<style>
  @import url(https://unpkg.com/css-peeps@1/css-peeps.css);

  .peepo {
    --peep-hat-color: #fc03c2;
    --peep-hair-color: #7300e6;
    --peep-skin-color: #96634e;
    --peep-accessory-color: #00ff00;
    --peep-facial-hair-color: #ffd700;
    --peep-object-color: #ffa500;
    --peep-clothes-color: #000000;

    width: 125px;
    height: 125px;
    border-radius: 10px;
  }
</style>
