<div class='css-peeps hidden dark:block'></div>
<style>
  @import url(https://unpkg.com/css-peeps@1/css-peeps.css);

  .css-peeps {
    --peep-head: twists1;
    --peep-face: calm;
    --peep-body: striped-pocket-tee;

    --peep-hat-color: #fc03c2;
    --peep-hair-color: #7300e6;
    --peep-skin-color: #96634e;
    --peep-accessory-color: #00ff00;
    --peep-facial-hair-color: #ffd700;
    --peep-object-color: #ffa500;
    --peep-clothes-color: #34d399;

    width: 135px;
    height: 135px;
    border-radius: 10px;
  }
</style>
