---
import Peep from './peep.astro'
---

<div class="dark:hidden">
  <Peep
    head='twists1'
    face='suspicious'
    body='sweater-crossed'
    hatColor='#fc03c2'
    hairColor='#34d399'
    skinColor='#96634e'
    objectColor='#ffa500'
    clothesColor='#fff'
  />
</div>
