---
import Peep from './peep.astro'
---

<div class='hidden xl:dark:block'>
  <Peep
    head='twists1'
    face='calm'
    body='striped-pocket-tee'
    hatColor='#fc03c2'
    hairColor='#34d399'
    skinColor='#96634e'
    objectColor='#ffa500'
    clothesColor='#34d399'
  />
</div>
