<div>
  <div
    class='peepo dark:hidden'
    data-css-peeps='twists1 suspicious laptop glasses1'
  >
  </div>
  <style>
    @import url(https://unpkg.com/css-peeps@1/css-peeps.css);

    .peepo {
      --peep-hat-color: #fc03c2;
      --peep-skin-color: #96634e;
      --peep-hair-color: #7300e6;
      --peep-accessory-color: #00ff00;
      --peep-facial-hair-color: #ffd700;
      --peep-object-color: #d97706;
      --peep-clothes-color: #fff;

      width: 135px;
      height: 135px;
    }
  </style>
</div>
