---
interface Props {
  class: string
}

const { props } = Astro

import './badge.css'
---

<div class=`animate-slide-in-top rounded ${props.class}`>
  <span class='relative flex overflow-hidden rounded shadow'>
    <div
      class='flex items-center h-full w-full cursor-pointer justify-center rounded px-3 py-1 text-sm font-bold text-slate-900 dark:text-emerald-100 backdrop-blur-3xl shadow shadow-black dark:shadow-gray-300 badge'
    >
      <slot />
    </div>
  </span>
</div>
