#title-movie {
    opacity: 0.75;
}

/* Reset by @souporserious */
* {
    box-sizing: border-box;
    /* position: relative; */
    min-width: 0;
}

body {
    min-height: 100dvh;
}

h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}

@font-face {
    font-family: 'Rubik Doodle Subset';
    src: url('/fonts/rubik-doodle-shadow-latin-400-patched.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
