---
import OpenToWork from '@components/badges/open-to-work.astro'
import Box from '@components/boxes/box.astro'
interface Props {
  lang: string
}
const { lang = 'en' }: Props = Astro.props
---

<Box title='Get to know me' otherStyles='xl:col-span-4 xl:row-span-2'>
  <style>
    .phrase {
      font-style: italic;
    }

    .phrase::before {
      content: '« ';
    }

    .phrase::after {
      content: ' »';
    }
  </style>
  <header class='flex flex-col xl:flex-row gap-1 items-center'>
    <h1
      class='dark:text-emerald-300 text-emerald-950 text-2xl xl:text-3xl uppercase'
    >
      {lang === 'en' ? 'Get To Know Me' : 'Conóceme'}
    </h1>
    <OpenToWork lang={lang} />
  </header>
  <div
    class='flex items-center p-3 justify-around w-full font-secondary xl:text-lg text-sm relative'
  >
    <ul class='w-full text-center p-2 gap-1.5 flex flex-col [&_p]:text-balance'>
      <li>
        <p>
          {
            lang === 'en'
              ? "My name is Jamer José, I'm a Mathematical Engineer from"
              : 'Mi nombre es Jamer José, soy un Ingeniero Matemático de'
          }
          <a
            href='https://www.eafit.edu.co/'
            rel='noopener noreferrer'
            target='_blank'
            class='text-slate-50 dark:text-slate-800 inline dark:bg-blue-100 bg-blue-800 px-1.5 py-0.5 rounded-[10px] w-fit'
          >
            {lang === 'en' ? 'EAFIT University' : 'la Universidad EAFIT'}
          </a>
        </p>
      </li>
      <li>
        <p>
          {
            lang === 'en'
              ? 'Currently building my experience as part time Backend Developer at'
              : 'Actualmente construyo mi experiencia como Desarrollador Backend de tiempo parcial en'
          }
          <a
            href='https://www.linkedin.com/showcase/dium-team/about/'
            rel='noopener noreferrer'
            target='_blank'
            class='text-slate-50 dark:text-slate-800 inline dark:bg-emerald-100 bg-emerald-800 px-1.5 py-0.5 rounded-[10px] w-fit'
          >
            Dium
          </a>
        </p>
      </li>
      <li>
        <p class='phrase dark:text-emerald-200'>
          {
            lang === 'en'
              ? 'The best (and only) way to achieve something is by starting it'
              : 'La mejor (y única) forma de lograr algo es comenzándolo'
          }
        </p>
      </li>
    </ul>
  </div>
  <!-- <script define:vars={{ lang }}>
    const phrases = [
      {
        en: 'As long as I can continue learning, i will feel alive',
        es: 'Mientras pueda seguir aprendiendo, me sentiré vivo'
      },
      {
        en: 'Open source has become the best way to learn and share knowledge',
        es: 'El código abierto se ha convertido en la mejor forma de aprender y compartir conocimiento'
      }
    ]
    setInterval(() => {
      const phrase = phrases[Math.floor(Math.random() * phrases.length)]
      document.querySelector('.phrase').textContent = phrase[lang]
    }, 5000)
  </script> -->
</Box>
