---
import OpenToWork from '@components/badges/open-to-work.astro'
import Box from '@components/boxes/box.astro'
import Dice from '@icons/dice.astro'
interface Props {
  lang: string
}
const { lang = 'en' }: Props = Astro.props
---

<Box title='Get to know me' otherStyles='xl:col-span-4 xl:row-span-2'>
  <header class='flex flex-col xl:flex-row gap-1 items-center'>
    <h1 class='dark:text-emerald-300 text-emerald-950 text-2xl xl:text-3xl'>
      {lang === 'en' ? 'Get To Know Me' : 'Conóceme'}
    </h1>
    <OpenToWork lang={lang} />
  </header>
  <div
    class='flex items-center p-3 justify-around w-full font-averia xl:text-lg text-sm relative'
  >
    <ul class='w-full text-center p-2 gap-1.5 flex flex-col [&_p]:text-balance'>
      <li>
        <p>
          {
            lang === 'en'
              ? "My name is Jamer José, I'm a Mathematical Engineer from"
              : 'Mi nombre es Jamer José, soy un Ingeniero Matemático de'
          }
          <a
            href='https://www.eafit.edu.co/'
            rel='noopener noreferrer'
            target='_blank'
            class='text-slate-50 dark:text-slate-800 inline dark:bg-blue-100 bg-blue-800 px-1 rounded-sm w-fit'
          >
            {lang === 'en' ? 'EAFIT University' : 'la Universidad EAFIT'}
          </a>
        </p>
      </li>
      <li>
        <p>
          {
            lang === 'en'
              ? 'Currently working as part time Backend Developer at'
              : 'Actualmente trabajo como Desarrollador Backend de medio tiempo en'
          }
          <a
            href='https://www.linkedin.com/showcase/dium-team/about/'
            rel='noopener noreferrer'
            target='_blank'
            class='text-slate-50 dark:text-slate-800 inline dark:bg-emerald-100 bg-emerald-800 px-1 rounded-sm w-fit'
          >
            Dium
          </a>
        </p>
      </li>
      <li>
        <p>
          {
            lang === 'en'
              ? 'Big fan of the open source and the web, as well as the great possibilities they offer'
              : 'Gran fan del código abierto y la web, así como de las grandes posibilidades que ofrecen'
          }
        </p>
      </li>
    </ul>
    <a
      href='/games'
      title='games section'
      aria-label='games section'
      class='animate-vertical-bounce animate-iteration-count-thrice animate-delay-500 hover:animate-iteration-count-infinite'
    >
      <Dice />
    </a>
  </div>
</Box>
