---
import OpenToWork from '@components/badges/open-to-work.astro'

interface Props {
  lang: string
}
const { lang = 'en' }: Props = Astro.props
const ABOUT_ME_STYLES = [
  'col-span-1 xl:col-span-4',
  'row-span-2',
  'bg-slate-300',
  'dark:bg-slate-900',
  'rounded-sm',
  'shadow-[0_0_0.5rem_rgba(0_0_0_0.5)]',
  'flex',
  'items-center',
  'justify-center',
  'font-bold',
  'dark:text-slate-300',
  'font-rubik-doodle',
  'w-full',
  'h-full',
  // 'border-2',
  // 'border-emerald-950',
  // 'dark:border-emerald-300',
  'flex-col',
  'text-base',
  'py-3',
  'px-2',
  'relative'
  // 'animate-blurred-fade-in'
].join(' ')
---

<article class={ABOUT_ME_STYLES} title='Get to know me'>
  <header class='flex flex-col xl:flex-row gap-1 items-center'>
    <h1 class='dark:text-emerald-300 text-emerald-950 text-2xl xl:text-3xl'>
      {lang === 'en' ? 'Get To Know Me' : 'Conóceme'}
    </h1>
    <OpenToWork lang={lang} />
  </header>
  <div
    class='flex items-center p-3 justify-around w-full font-merriweather xl:text-base text-sm relative'
  >
    <ul class='w-full text-center p-2 gap-1.5 flex flex-col'>
      <li>
        <p class='text-balance'>
          {
            lang === 'en'
              ? "My name is Jamer José, I'm a Mathematical Engineer from"
              : 'Mi nombre es Jamer José, soy un Ingeniero Matemático de'
          }
          <a
            href='https://www.eafit.edu.co/'
            rel='noopener noreferrer'
            target='_blank'
            class='text-slate-50 dark:text-slate-800 inline dark:bg-blue-100 bg-blue-800 px-1 rounded-sm w-fit'
          >
            {lang === 'en' ? 'EAFIT University' : 'la Universidad EAFIT'}
          </a>
        </p>
      </li>
      <!-- <p class='font-fira inline'>󰜐</p> -->
      <li>
        <!-- Currently working as part time Backend Developer at -->
        <p class='text-balance'>
          {
            lang === 'en'
              ? 'Currently working as part time Backend Developer at'
              : 'Actualmente trabajo como Desarrollador Backend de medio tiempo en'
          }
          <a
            href='https://www.linkedin.com/showcase/dium-team/about/'
            rel='noopener noreferrer'
            target='_blank'
            class='text-slate-50 dark:text-slate-800 inline dark:bg-emerald-100 bg-emerald-800 px-1 rounded-sm w-fit'
          >
            Dium
          </a>
        </p>
      </li>
      <li>
        <p class='text-balance'>
          <!-- Big fan of the open source and the web, as well as the great
          possibilities they offer. -->
          {
            lang === 'en'
              ? 'Big fan of the open source and the web, as well as the great possibilities they offer'
              : 'Gran fan del código abierto y la web, así como de las grandes posibilidades que ofrecen'
          }
        </p>
      </li>
      <li>
        <p class='text-balance'>
          <!-- I strongly believe that the best way to achieve something is to start
          it. -->
          <!-- {
            lang === 'en'
              ? 'I strongly believe that the best way to achieve something is to start it'
              : 'Creo firmemente que la mejor manera de lograr algo es comenzarlo'
          } -->
          {
            lang === 'en'
              ? 'Currently focused on web development, with a strong interest in the backend'
              : 'Actualmente enfocado en el desarrollo web, con un fuerte interés en el backend'
          }
        </p>
      </li>
    </ul>
  </div>
</article>
