<>
  <style>
    .background {
      background-image: url('/pizarra.webp');
      min-height: 100%;
      width: 100vw;
      background-position: center;
      background-repeat: repeat;
      position: fixed;
      top: 0;
      left: 0;
      z-index: -1;
    }
  </style>
</>
<main class='background blur-sm dark:blur-[2px]'></main>
