<style>
  .background {
    /* background-image: url('/pizarra.webp'); */
    background-color: #222831;
    min-height: 100%;
    width: 100vw;
    background-position: center;
    background-repeat: repeat;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -50;
    inset: 0;
  }
</style>

<div class='background'></div>
