---
const isInBlog = Astro.url.pathname.includes('/blog/')
---

<style>
  .noise::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: '';
    opacity: 0.05;
    z-index: -50;
    pointer-events: none;
    background: url('/img/resized_noise.gif');
  }
</style>
<div
  data-blog={isInBlog}
  class='fixed top-0 -z-50 h-[100dvh] w-[100dvw] data-[blog]:bg-cover data-[blog]:bg-center bg-[#222831] data-[blog]:bg-[url("/pizarra.webp")] data-[blog]:bg-opacity-5'
>
  <div class='noise'></div>
</div>
