<>
  <style>
    .background {
      background-image: url('/pizarra.webp');
      min-height: 100dvh;
      width: 100vw;
      background-position: center;
      background-repeat: repeat;
      position: fixed;
      top: 0;
      left: 0;
      z-index: -1;
    }
  </style>
</>
<main class='background blur dark:blur-none'></main>
