<section
  class='grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-6 grid-rows-auto gap-2 px-2 py-8 xl:px-0 xl:py-0 w-[95dvw] lg:w-[85dvw] min-h-[90dvh] rounded-[10px] place-items-center'
>
  <slot />
</section>
