---
import Hbox from '@components/boxes/hbox.astro'
import { siGitbook } from 'simple-icons'

interface Props {
  lang: string
}
const { lang = 'en' }: Props = Astro.props
---

<Hbox
  title='Blog'
  href={lang === 'en' ? '/blog' : '/es/blog'}
  otherStyles='xl:row-span-2 [&_p]:text-3xl'
>
  <div class='flex gap-2' transition:name='blog'>
    <p>Blog</p>
    <svg
      class='w-8 h-8 inline-flex dark:fill-cyan-300 fill-cyan-950'
      set:html={siGitbook.svg}
    />
  </div>
</Hbox>
