---
const BLOG_STYLES = [
  'col-span-1 xl:col-span-1',
  'row-span-2',
  'gap-2',
  'bg-slate-300',
  'rounded-sm',
  'shadow-[0_0_0.3rem_rgb(69_26_3)]', // rgb(69, 26, 3)
  'dark:shadow-[0_0_0.3rem_rgb(253_230_138)]', // rgb(253, 230, 138)
  'flex',
  'items-center',
  'justify-center',
  'text-4xl',
  'font-bold',
  'text-amber-950',
  'dark:text-amber-300',
  'font-rubik-doodle',
  'w-full',
  'h-full',
  'transition-all',
  'duration-200',
  'dark:transition-all',
  // 'dark:border-emerald-300',
  'border-2',
  'border-amber-500',
  'dark:bg-slate-900',
  'hover:scale-[1.02]',
  'hover:duration-200',
  'hover:ease-in-out'
].join(' ')
import { siGitbook } from 'simple-icons'
interface Props {
  lang: string
}
const { lang = 'en' }: Props = Astro.props
---

<a
  class={BLOG_STYLES}
  title='Personal Blog'
  href={lang === 'en' ? '/blog' : '/es/blog'}
  transition:name='blog'
>
  <p>Blog</p>
  <svg
    class='w-8 h-8 inline-flex dark:fill-amber-300 fill-amber-950'
    set:html={siGitbook.svg}
  />
</a>
