<>
  <style>
    #blur_background {
      filter: blur(2px);
      z-index: -1;
      width: 100dvw;
      min-height: 100dvh;
      position: fixed;
      background-image: url('/pizarra.webp');
    }
  </style>
  <div id='blur_background'></div>
</>
