<style>
  .container {
    min-width: 50dvw;
    max-width: 80dvw;
    min-height: 50dvh;
    display: grid;
    align-items: center;
    justify-items: center;
    color: white;
    border-radius: 0.5rem;
    background-color: #1b383c;
    /* font-family: 'Fira Sans', sans-serif; */
    font-family: 'Bitter Variable', serif;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 0.05rem 0 0.1rem #000;
    border: 2px solid white;
    font-weight: 600;
    gap: 0.5rem;
  }
</style>
<div class='container xl:text-2xl'>
  <slot />
</div>
