---
interface Props {
  lang: string
}
const { lang = 'en' }: Props = Astro.props

import Hbox from '@components/boxes/hbox.astro'
---

<Hbox
  href={lang === 'en' ? '/featured' : '/es/destacados-y-proyectos'}
  title={lang === 'en' ? 'Featured & Projects' : 'Proyectos y Destacados'}
  otherStyles='xl:row-span-2 flex-col [&_p]:text-2xl'
>
  <div transition:name='featured'>
    <p>
      {lang === 'en' ? 'Projects &' : 'Proyectos &'}
    </p>
    <p>
      {lang === 'en' ? 'Featured' : 'Destacados'}
    </p>
  </div>
</Hbox>
