---
const FEATURED_STYLES = [
  'col-span-1 xl:col-span-1',
  'row-span-2',
  'gap-2',
  'bg-slate-300',
  'rounded-sm',
  'shadow-[0_0_0.3rem_rgb(69_26_3)]', // rgb(69, 26, 3)
  'dark:shadow-[0_0_0.3rem_rgb(253_230_138)]', // rgb(253, 230, 138)
  'flex',
  'flex-col',
  'items-center',
  'justify-center',
  'text-2xl',
  'font-bold',
  'text-amber-950',
  'dark:text-amber-300',
  'font-rubik-doodle',
  'w-full',
  'h-full',
  'transition-all',
  'dark:transition-all',
  'ease-in-out',
  'duration-200',
  'border-amber-500',
  // 'dark:border-amber-500',
  'border-2',
  'dark:bg-slate-900',
  'hover:scale-[1.02]',
  'hover:duration-200',
  'hover:ease-in-out'
].join(' ')

interface Props {
  lang: string
}
const { lang = 'en' }: Props = Astro.props
---

<a
  class={FEATURED_STYLES}
  title='Featured Resources'
  href={lang === 'en' ? '/featured' : '/es/destacados-y-proyectos'}
  transition:name='featured'
>
  <p>
    <!-- Projects -->
    {lang === 'en' ? 'Projects' : 'Proyectos'}
  </p>
  <!-- Featured -->
  <p>&</p>
  <p>
    {lang === 'en' ? 'Featured' : 'Destacados'}
  </p>
</a>
