---
import { siAstro, siPreact } from 'simple-icons'
---

<style>
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    padding: 1rem;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 0.2rem;
    font-size: 0.8rem;
    color: #fff;
    background-color: #000;
    font-family: 'Merriweather', monospace;
  }
</style>

<a href='/'>
  <footer>
    Powered by
    <svg
      class='w-6 h-6 inline'
      set:html={siAstro.svg}
      fill={`#${siAstro.hex}`}
    />
    <svg
      class='w-6 h-6 inline'
      set:html={siPreact.svg}
      fill={`#${siPreact.hex}`}
    />
  </footer>
</a>
