---
import ResponsivePeep from '@components/css-peeps/peep.astro'
import Container from './container.astro'
import BlurBackground from './blur-background.astro'
---

<BlurBackground />
<div class='xl:hidden block'>
  <main class='w-[100dvw] h-[100dvh] grid place-content-center'>
    <Container>
      <div class='flex gap-2'>
        <h1>You caught me!</h1>
      </div>
      <ResponsivePeep
        facialHair='mustache1'
        body='phone'
        face='smile-big'
        clothesColor='#34d399'
      />
      <p class='responsive-text-xxs font-merriweather'>
        The responsive design for this page is still in progress.
        <br />
        I invite you to visit it from a computer or a tablet to get the best experience.
        <br />
        But don't hesitate! I'm working on it and it will ready soon.
      </p>
    </Container>
  </main>
</div>
