---
interface Props {
  lang: string
}
const { lang = 'en' }: Props = Astro.props

// import BitwiseLiminal from '@movies/bitwise-liminal.astro'
---

<style>
  .title {
    /* background: rgba(15, 23, 42, 0.25); */
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

    @media (prefers-color-scheme: light) {
      background: rgb(255, 255, 255, 0.25);
    }
  }
</style>
<div
  class='bg-slate-300/80 dark:bg-slate-900/95 row-span-2 xl:col-span-2 title dark:text-emerald-400 text-emerald-900 p-2 rounded w-full h-full flex items-center flex-row animate-blurred-fade-in relative card'
>
  <div class='flex flex-col gap-1 animate-fade-in z-10'>
    <a href={lang !== 'en' ? '/' : 'es'}>
      <p
        class='font-primary font-semibold text-2xl xl:text-4xl px-2 py-1 rounded'
      >
        Jamer José
      </p>
    </a>
    <span
      class='block font-secondary uppercase text-sm rounded w-fit mx-auto px-1 py-0.5 text-center'
    >
      Jr Backend Dev
    </span>
  </div>
  <div
    class='fixed -z-10 top-0 left-0 origin-top-left w-full xl:flex place-content-center flex overflow-hidden h-full bg-opacity-10 rounded'
    id='animation-container'
  >
    <!-- <BitwiseLiminal /> -->
  </div>
</div>

<style>
  .title {
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Rubik Doodle Shadow';
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in-out;
  }
</style>
