---
import { siGitkraken } from 'simple-icons'

interface Props {
  lang: string
}
const { lang = 'en' }: Props = Astro.props

import ProjectCard from './project.astro'
import Box from '@components/boxes/box.astro'
---

<Box title="Projects I'm working on" otherStyles='xl:col-span-2 xl:row-span-4'>
  <header
    class='text-2xl xl:text-3xl flex gap-2 text-emerald-950 dark:text-emerald-300 items-center'
  >
    <p>
      <!-- Working on -->
      {lang === 'en' ? 'Working on' : 'Trabajando en'}
    </p>
    <svg
      class='w-8 h-8 inline-flex shadow bg-white/50 p-1 rounded dark:bg-slate-900/80'
      set:html={siGitkraken.svg}
      fill={`#${siGitkraken.hex}`}
    />
  </header>
  <div class='h-full w-full gap-2'>
    <ul
      class='flex gap-2 text-base flex-col justify-around h-full font-merriweather font-bold py-2'
    >
      <ProjectCard lang={lang} index={0} />
      <ProjectCard lang={lang} index={1} />
    </ul>
  </div>
</Box>
