---
import Layout from '@layouts/layout.astro'
import Container from '@components/main/container.astro'
---

<style>
  #_404_container {
    width: 50dvw;
    min-height: 50dvh;
    display: grid;
    align-items: center;
    justify-items: center;
    color: white;
    border-radius: 0.5rem;
    background-color: #1b383c;
    font-family: 'Merriweather', sans-serif;
    /* font-size: 2rem; */
    text-align: center;
    padding: 1rem;
    box-shadow: 0 0.05rem 0 0.1rem #000;
    border: 1px solid white;
    font-weight: 600;
    gap: 0.25rem;
  }

  .go-home-button {
    text-decoration: none;
    border: 1px solid white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.05rem 0 0.1rem #000;
    transition: all 0.2s ease-in-out;
  }

  .go-home-button:hover {
    color: #1b383c;
    background-color: white;
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
  }

  #_404_background {
    filter: blur(1px);
    z-index: -1;
    /* width: 100vw;
    height: 100vh; */
    position: fixed;
    background-image: url('/pizarra.webp');
  }

  a,
  button {
    font-family: 'Rubik Doodle Shadow', sans-serif;
  }
</style>

<Layout title='Resource Not Found - jamerrq.dev'>
  <div id='_404_background' class='hidden xl:grid'></div>
  <main class='grid place-content-center bg-black [&>div>p]:text-balance'>
    <Container>
      <h1 class='text-emerald-300 text-2xl'>Page Not Found!</h1>
      <p class='text-sm xl:text-base font-merriweather'>
        Sorry, the resource you are looking for does not exist (yet?).
      </p>
      <p class='text-sm xl:text-base font-merriweather'>
        Please check the URL and try again or go back.
      </p>
      <div class='flex gap-2 text-emerald-300'>
        <button class='text-base go-home-button' onclick='window.history.back()'
          >Go Back</button
        >
        <button
          class='text-base go-home-button'
          onclick='window.location.reload()'
        >
          Try Again</button
        >
        <!-- Go home -->
        <a href='/' class='text-base go-home-button'>Go Home</a>
      </div>
    </Container>
  </main>
</Layout>
