---
import '@fontsource/handlee'
import '@fontsource/redressed'
import Layout from '@layouts/layout.astro'
import Footer from '@components/main/footer.astro'
import Buttons from '@components/main/buttons.astro'
---

<Layout title='Board - jamerrq.dev'>
  <style>
    .handlee-font {
      font-family: 'Handlee', sans-serif;
      display: grid;
      padding: 1rem;
      border-radius: 5px;
      background-color: aquamarine;
      width: 33%;
      position: absolute;
      top: 2rem;
      left: 0.25rem;
      gap: 1rem;
      font-weight: bold;
    }

    .rubik-font {
      font-family: 'Rubik Doodle Shadow', sans-serif;
      display: grid;
      padding: 1rem;
      border-radius: 5px;
      background-color: aquamarine;
      width: 33%;
      position: absolute;
      top: 2rem;
      left: 28.65em;
      gap: 1rem;
      font-weight: bold;
    }

    .fira-font {
      font-family: 'Merriweather', sans-serif;
      display: grid;
      padding: 1rem;
      border-radius: 5px;
      background-color: aquamarine;
      width: 33%;
      position: absolute;
      top: 2rem;
      left: 57em;
      gap: 1rem;
      font-weight: bold;
    }
  </style>
  <main class='flex flex-col w-[100dvw] h-[100dvh]'></main>
  <div class='absolute top-1 w-full mx-auto'>
    <Buttons />
  </div>
  <Footer />
</Layout>
