---
import Layout from '../layouts/layout.astro'
import TechStackBento from '@components/tech-stack/tech-bento.astro'
---

<Layout title='Tech Stack - jamerrq.dev'>
  <main class='h-[100dvh] w-[100dvw] grid items-center justify-center'>
    <TechStackBento />
  </main>
</Layout>
