---
import Layout from '../layouts/layout.astro'
import TechStackBento from '../components/tech-stack/bento.astro'
---

<Layout title='Tech Stack'>
  <main
    class='h-[100dvh] w-[100dvw] grid items-center justify-center'
    id='background'
  >
    <TechStackBento />
  </main>
</Layout>
