---
const ABOUT_ME_STYLES = [
  'col-span-4',
  'row-span-2',
  'bg-slate-400',
  'dark:bg-slate-900',
  'dark:text-slate-300',
  'rounded-sm',
  'shadow-[0_0_0.5rem_rgba(0_0_0_0.5)]',
  'flex',
  'items-center',
  'justify-center',
  'font-bold',
  'text-black',
  'font-rubik-doodle',
  'w-full',
  'h-full',
  'transition-all',
  'border-2',
  'dark:border-slate-300',
  'border-slate-950',
  // 'hover:bg-slate-900',
  // 'hover:text-slate-300',
  'hover:scale-[1.02]',
  'hover:transition-all',
  'responsive-text-xs',
  'flex-col',
  '[&>p]:font-fira',
  '[&>p]:text-base',
  'text-slate-900',
  'dark:text-slate-300',
].join(' ')
---

<article class={ABOUT_ME_STYLES} title="Get to know me">
  <h1>About Me</h1>
  <div class="flex items-center p-2 justify-around w-full font-merriweather responsive-text-xxs">
    <div>
      <p class="">
        <p class="font-fira inline">
          
        </p>
        My name is Jamer José, I'm a Math Engineer from
        <a href="https://www.eafit.edu.co/" rel="noopener noreferrer" target="_blank" class="text-blue-800 dark:text-blue-300">
          EAFIT University
        </a>.
      </p>
      <p>
        <p class="font-fira inline">
          󰜐
        </p>
        Currently working as part time Backend Developer at
        <a href="https://www.linkedin.com/showcase/dium-team/about/" rel="noopener noreferrer" target="_blank" class="text-blue-800 dark:text-blue-300">
          Dium
        </a>.
      </p>
      <p>
        <p class="font-fira inline">
          󰮮
        </p>
        Big fan of the open source and the web, as well as the great possibilities they offer.
      </p>
      <p>
        <p class="font-fira inline">
          
        </p>
        My goal is to build quality software that is secure and scalable.
      </p>
    </div>
    <img src="/me2.webp" alt="" class="w-[15%] h-auto rounded-sm border-2 border-slate-300 hidden lg:block">
  </div>
</article>
