---
const BLOG_STYLES = [
  'col-span-1',
  'row-span-2',
  'gap-2',
  'bg-teal-500',
  'rounded-sm',
  'shadow-[0_0_0.5rem_rgba(0_0_0_0.5)]',
  'flex',
  'items-center',
  'justify-center',
  'responsive-text',
  'font-bold',
  'text-teal-950',
  'font-rubik-doodle',
  'w-full',
  'h-full',
  'transition-all',
  'duration-200',
  'dark: transition-all',
  'dark:border-teal-300',
  'border-2',
  'border-teal-950',
  'dark:bg-teal-900',
  'dark:text-teal-300',
  'hover:scale-[1.02]',
  'hover:duration-200',
  'hover:ease-in-out',
].join(' ');
---

<a class={BLOG_STYLES} title="Personal Blog" href="/blog">
  <p>Blog</p>
  <p class="font-fira font-thin"></p>
</a>
