---
const BUTTONS_STYLES = [
  'col-span-2',
  'row-span-1',
  'gap-2',
  'rounded-sm',
  'shadow-[0_0_0.5rem_rgba(0_0_0_0.5)]',
  'flex',
  'items-center',
  'justify-around',
  'responsive-text',
  'border-2',
  'border-emerald-950',
  'dark:border-emerald-300',
  // 'bg-[#1b383c]',
  'text-slate-950',
  'font-rubik-doodle',
  'w-full',
  'h-full',
  'transition-all',
  'duration-200',
  'dark:bg-slate-900',
  'dark:text-slate-100',
  'bg-slate-300',
  '[&>*]:font-fira'
  // '[&>*]:hover:text-slate-300',
].join(' ')

const BUTTON_STYLES = [
  'dark:hover:text-emerald-300',
  'hover:text-emerald-900'
  // 'hover:scale-110',
].join(' ')
---

<article class={BUTTONS_STYLES} transition:persist>
  <!-- LANGUAGE SWITCH -->
  <button
    class={BUTTON_STYLES}
    title='Switch language en/es'
    id='language-toggle'
  >
    
  </button>
  <!-- HOME OR RANDOM PLACE -->
  <button class={BUTTON_STYLES + ' hidden'} title='go home' id='home-button'>
    
  </button>
  <button
    class={BUTTON_STYLES + ' hidden'}
    title='Go to a random page'
    id='random-place-button'
  >
    󰝮
  </button>
  <!-- THEME SWITCH -->
  <button
    id='theme-toggle'
    type='button'
    title='Switch dark/light theme'
    class='dark:hover:text-emerald-300 hover:text-emerald-900'
  >
    <p id='theme-toggle-dark-icon' class='hidden'></p>
    <p id='theme-toggle-light-icon' class='hidden'></p>
  </button>
  <!-- CLOSE -->
  <a
    href='https://github.com/jamerrq/jamerrq.dev'
    target='_blank'
    rel='noopener noreferrer'
    class='dark:hover:text-emerald-300 hover:text-emerald-900'
    title='Source code on GitHub'
  >
    
  </a>
</article>

<script defer>
  // Theme switch
  function setTheme() {
    const darkIcon = document.getElementById('theme-toggle-dark-icon')
    const lightIcon = document.getElementById('theme-toggle-light-icon')

    // Cambia los iconos dentro del botón en función de la configuración anterior
    if (
      localStorage.getItem('color-theme') === 'dark' ||
      (!('color-theme' in localStorage) &&
        window.matchMedia('(prefers-color-scheme: dark)').matches)
    ) {
      lightIcon.classList.remove('hidden')
      // en caso que se haya configurado previamente
      document.documentElement.classList.add('dark')
    } else {
      darkIcon.classList.remove('hidden')
    }

    const themeToggleBtn = document.getElementById('theme-toggle')

    themeToggleBtn.addEventListener('click', function () {
      darkIcon.classList.toggle('hidden')
      lightIcon.classList.toggle('hidden')

      // se comprueba si se ha configurado previamente
      if (localStorage.getItem('color-theme')) {
        if (localStorage.getItem('color-theme') === 'light') {
          document.documentElement.classList.add('dark')
          localStorage.setItem('color-theme', 'dark')
        } else {
          document.documentElement.classList.remove('dark')
          localStorage.setItem('color-theme', 'light')
        }

        // se comprueba si el sistema operativo tiene configurado el tema oscuro
      } else {
        if (document.documentElement.classList.contains('dark')) {
          document.documentElement.classList.remove('dark')
          localStorage.setItem('color-theme', 'light')
        } else {
          document.documentElement.classList.add('dark')
          localStorage.setItem('color-theme', 'dark')
        }
      }
    })
  }

  setTheme()
  document.addEventListener('astro:after-preparation', setTheme)
  document.addEventListener('astro:after-swap', setTheme)

  // Home & Random Place buttons
  const setHomeRandomButton = () => {
    const homeButton = document.getElementById('home-button')
    const randomPlaceButton = document.getElementById('random-place-button')

    // Show home button only if not in home
    // Otherwise show random place button
    if (window.location.pathname === '/') {
      homeButton.classList.add('hidden')
      randomPlaceButton.classList.remove('hidden')
    } else {
      homeButton.classList.remove('hidden')
      randomPlaceButton.classList.add('hidden')
    }

    // Add click event to home button
    homeButton.addEventListener('click', function () {
      window.location.href = '/'
    })

    randomPlaceButton.addEventListener('click', function () {
      const places = ['/blog', '/tech-stack', '/featured']
      window.location.href = places[Math.floor(Math.random() * places.length)]
    })
  }

  setHomeRandomButton()
  document.addEventListener('astro:after-preparation', setHomeRandomButton)
  document.addEventListener('astro:after-swap', setHomeRandomButton)

  // Language switch
  const setLanguageToggle = () => {
    const languageToggle = document.getElementById('language-toggle')

    // Add click event to language toggle button
    languageToggle.addEventListener('click', function () {
      const currentLanguage = window.location.pathname.split('/').at(1) || 'en'
      // if path starts with /es then remove it
      // else add /es
      // window.alert(currentLanguage)
      const newUrl =
        currentLanguage === 'es'
          ? window.location.pathname.replace('/es', '')
          : '/es' + window.location.pathname
      window.location.href = newUrl
    })
  }

  setLanguageToggle()
  document.addEventListener('astro:after-preparation', setLanguageToggle)
  document.addEventListener('astro:after-swap', setLanguageToggle)
</script>
