---
const EXPERIENCE_STYLES = [
  'col-span-2',
  'row-span-4',
  'gap-2',
  'bg-red-300',
  'rounded-sm',
  'shadow-[0_0_0.5rem_rgba(0_0_0_0.5)]',
  'flex',
  'items-center',
  'justify-center',
  'align-center',
  // 'text-2xl',
  'font-bold',
  'text-red-950',
  'font-rubik-doodle',
  'w-full',
  'h-full',
  'transition-all',
  'border-2',
  'border-red-300',
  'dark:bg-red-800',
  'dark:text-red-200',
  'hover:scale-[1.02]',
  'hover:transition-all',
  'flex',
  'flex-col',
  'p-1',
  '[&>div>ul>li]:dark:bg-red-900',
  '[&>div>ul>li]:dark:text-red-200',
  '[&>div>ul>li>a]:bg-amber-700',
  '[&>div>ul>li>a]:dark:bg-amber-700',
].join(' ')
---

<article class={EXPERIENCE_STYLES} title="Projects I've worked on" class="relative">
  <a href="/projects" title="More projects">
  <div class="responsive-text-xs flex gap-2">
    <p>Projects</p>
      <p class="font-fira font-thin"></p>
      <p class="font-fira font-thin"></p>
    </div>
  </a>
  <div class="h-full w-full gap-2">
    <ul class="flex gap-2 flex-col justify-around h-full font-roboto-slab">
      <li class="grid grid-rows-2 grid-cols-2 justify-items-center border-2 rounded-sm [&>*]:border-2 [&>*]:border-red-950 [&>*]:w-full [&>*]:text-center">
        <a class="col-span-2" href="https://pinturas-app-back.onrender.com/" target="_blank" rel="noopener noreferrer">
          Backend Server For IDE Pinturerias
        </a>
        <p>
          Time
        </p>
        <p>
          5+ months
        </p>
        <!-- <p>
          Contributors
        </p>
        <a href="https://github.com/Ide-Pinturerias/pinturas-app-back/graphs/contributors" target="_blank" rel="noopener noreferrer">
          9+
        </a> -->
        <p>
          GitHub Repo
        </p>
        <a href="https://github.com/Ide-Pinturerias/pinturas-app-back" target="_blank" rel="noopener noreferrer" class="responsive-text-xxs">
          pinturas-app-back
        </a>
        <p>
          Live Demo
        </p>
        <a href="https://pinturas-app-back.onrender.com/" target="_blank" rel="noopener noreferrer" class="responsive-text-xxs">
          onrender.com
        </a>
        <p>
          Technologies
        </p>
        <div class="flex w-full overflow-hidden">
          <!-- Node -->
          <img src="https://img.shields.io/badge/-%23339933.svg?style=for-the-badge&logo=node.js&logoColor=white" alt="node js" title="Node" class="-mr-3">
          <!-- Express -->
          <img src="https://img.shields.io/badge/-%23404d59.svg?style=for-the-badge&logo=express&logoColor=white" alt="express js" title="Express" class="-mr-3">
          <!-- PostgreSQL -->
          <img src="https://img.shields.io/badge/-%23336791.svg?style=for-the-badge&logo=postgresql&logoColor=white" alt="postgresql" title="PostgreSQL" class="-mr-3">
          <!-- Sequelize -->
          <img src="https://img.shields.io/badge/-%23af5b5b.svg?style=for-the-badge&logo=sequelize&logoColor=white" alt="sequelize" title="Sequelize" class="-mr-3">
          <!-- JWT -->
          <img src="https://img.shields.io/badge/-%23000000.svg?style=for-the-badge&logo=json-web-tokens&logoColor=white" alt="jwt" title="JWT" class="-mr-2">
          <!-- Postman -->
          <img src="https://img.shields.io/badge/-%23ff6c37.svg?style=for-the-badge&logo=postman&logoColor=white" alt="postman" title="Postman" class="-mr-3">
        </div>
      </li>
      <li class="grid grid-rows-2 grid-cols-2 justify-items-center rounded-sm border-2 [&>*]:border-2 [&>*]:border-red-950 [&>*]:w-full [&>*]:text-center [&>*]:rounded-sm bg-red-300">
          <a href="https://pinturas-app-front.vercel.app/" target="_blank" rel="noopener noreferrer" class="col-span-2 bg-red-500">
            Frontend UI For IDE Pinturerias
          </a>
        <p>
          Time
        </p>
        <p>
          5+ months
        </p>
        <!-- <p>
          Contributors
        </p>
        <a href="https://github.com/Ide-Pinturerias/pinturas-app-front/graphs/contributors" target="_blank" rel="noopener noreferrer">
          9+
        </a> -->
        <p>
          GitHub Repo
        </p>
        <a href="https://github.com/Ide-Pinturerias/pinturas-app-front" target="_blank" rel="noopener noreferrer" class="responsive-text-xxs">
          pinturas-app-front
        </a>
        <p>
          Live Demo
        </p>
        <a href="https://pinturas-app-front.vercel.app/" target="_blank" rel="noopener noreferrer" class="responsive-text-xxs">
          vercel.app
        </a>
        <p>
          Technologies
        </p>
        <div class="flex w-full overflow-hidden">
          <!-- React -->
          <img src="https://img.shields.io/badge/-%2323272F.svg?style=for-the-badge&logo=react&logoColor=white" alt="react" title="React" class="-mr-3">
          <!-- Redux -->
          <img src="https://img.shields.io/badge/-%23764ABC.svg?style=for-the-badge&logo=redux&logoColor=white" alt="redux" title="Redux" class="-mr-3">
          <!-- Tailwind -->
          <img src="https://img.shields.io/badge/-%2338B2AC.svg?style=for-the-badge&logo=tailwind-css&logoColor=white" alt="tailwind" title="Tailwind" class="-mr-3">
          <!-- Vercel -->
          <img src="https://img.shields.io/badge/-%23000000.svg?style=for-the-badge&logo=vercel&logoColor=white" alt="vercel" title="Vercel" class="-mr-3">
          <!-- Vite -->
          <img src="https://img.shields.io/badge/-%23000000.svg?style=for-the-badge&logo=vite" alt="vite" title="Vite" class="-mr-2">
          <!-- Auth0 -->
          <img src="https://img.shields.io/badge/-%23323330.svg?style=for-the-badge&logo=auth0&logoColor=white" alt="auth0" title="Auth0" class="-mr-3">
        </div>
      </li>
    </ul>
  </div>
</article>
