---
const FEATURED_STYLES = [
  'col-span-1',
  'row-span-2',
  'gap-2',
  'bg-blue-400',
  'rounded-sm',
  'shadow-[0_0_0.5rem_rgba(0_0_0_0.5)]',
  'flex',
  'items-center',
  'justify-center',
  'responsive-text-sm',
  'font-bold',
  'text-black',
  'font-rubik',
  'w-full',
  'h-full',
  'transition-all',
  'duration-200',
  'border-blue-300',
  'border-2',
  'hover:bg-blue-900',
  'hover:text-blue-400',
  'hover:scale-[1.02]',
  'hover:duration-200',
  'hover:ease-in-out',
].join(' ');
---

<a class={FEATURED_STYLES} title="Featured Resources" href="/featured">
  <p>Featured</p>
  <p class="font-fira font-thin">󰂺</p>
</a>
