---
import NerdIcon from "./nerd-icon.astro";
const FEATURED_STYLES = [
  'col-span-1',
  'row-span-2',
  'gap-2',
  'bg-blue-400',
  'rounded-sm',
  'shadow-[0_0_0.5rem_rgba(0_0_0_0.5)]',
  'flex',
  'flex-col',
  'items-center',
  'justify-center',
  'responsive-text-sm',
  'font-bold',
  'text-blue-950',
  'font-rubik-doodle',
  'w-full',
  'h-full',
  'transition-all',
  'duration-200',
  'border-blue-950',
  'dark:border-blue-300',
  'border-2',
  'dark:bg-blue-900',
  'dark:text-blue-400',
  'hover:scale-[1.02]',
  'hover:duration-200',
  'hover:ease-in-out',
].join(' ');
---

<a class={FEATURED_STYLES} title="Featured Resources" href="/featured">
  <div class="flex gap-1">
    <p>Featured</p>
    <NerdIcon props="inline">
      󰂺
    </NerdIcon>
  </div>
  <p>&</p>
  <div class="flex gap-1">
    <NerdIcon props="inline">
      
    </NerdIcon>
    <p>Projects</p>
  </div>
</a>
