---
import NerdIcon from './nerd-icon.astro'
const FEATURED_STYLES = [
  'col-span-1',
  'row-span-2',
  'gap-2',
  'bg-slate-300',
  'rounded-sm',
  'shadow-[0_0_0.5rem_rgba(0_0_0_0.5)]',
  'flex',
  'flex-col',
  'items-center',
  'justify-center',
  'responsive-text-sm',
  'font-bold',
  'text-slate-950',
  'font-rubik-doodle',
  'w-full',
  'h-full',
  'transition-all',
  'duration-200',
  'border-slate-950',
  'dark:border-slate-300',
  'border-2',
  'dark:bg-slate-900',
  'dark:text-slate-300',
  'hover:scale-[1.02]',
  'hover:duration-200',
  'hover:ease-in-out'
].join(' ')
---

<a class={FEATURED_STYLES} title='Featured Resources' href='/featured'>
  <div class='flex gap-1'>
    <p>Featured</p>
    <NerdIcon props='inline'>󰂺</NerdIcon>
  </div>
  <p>&</p>
  <div class='flex gap-1'>
    <p>Projects</p>
  </div>
</a>
