---
const TECH_STACK_STYLES = [
  'col-span-2',
  'row-span-3',
  'bg-slate-300',
  'rounded-sm',
  'shadow-[0_0_0.5rem_rgba(0_0_0_0.5)]',
  'flex',
  'flex-col',
  'gap-2',
  'items-center',
  'justify-center',
  // 'text-2xl',
  // 'font-bold',
  // 'text-slate-950',
  'font-rubik-doodle',
  'w-full',
  'h-full',
  'transition-all',
  'border-2',
  'border-slate-950',
  'dark:border-slate-300',
  'text-slate-950',
  'dark:bg-slate-900',
  'dark:text-slate-300',
  'hover:scale-[1.02]',
  'hover:transition-all',
  'responsive-text-xs'
].join(' ')
---

<a
  title='The tools I (love) work with'
  class={TECH_STACK_STYLES}
  href='/tech-stack'
  transition:name='Tech Stack'
>
  <div class='gap-2 flex font-bold responsive-text'>
    <p class=''>Tech Stack</p>
    <p class='font-fira'></p>
  </div>
  <div class='grid grid-cols-2 gap-2 items-center justify-items-center'>
    <div class='flex flex-row gap-2 responsive-text-sm'>
      <p class='font-semibold'>Backend</p>
      <p class='font-fira font-light'>󰒍</p>
    </div>
    <div class='flex gap-1 [&>img]:rounded-sm'>
      <!-- Node -->
      <img
        src='https://img.shields.io/badge/-%2343853D.svg?style=for-the-badge&logo=node.js&logoColor=white'
        alt='node js'
        title='Node'
      />
      <!-- Express -->
      <img
        src='https://img.shields.io/badge/-%23404d59.svg?style=for-the-badge&logo=express&logoColor=white'
        alt='express js'
        title='Express'
      />
      <!-- PostgreSQL -->
      <img
        src='https://img.shields.io/badge/-%23316192.svg?style=for-the-badge&logo=postgresql&logoColor=white'
        alt='postgresql'
        title='PostgreSQL'
      />
      <!-- Django -->
      <img
        src='https://img.shields.io/badge/-%23092E20.svg?style=for-the-badge&logo=django&logoColor=white'
        alt='django'
        title='Django'
      />
    </div>
    <div class='flex flex-row gap-2 responsive-text-sm'>
      <p class='font-semibold'>Languages</p>
      <p class='font-fira font-light'></p>
    </div>
    <div class='flex gap-1 [&>img]:rounded-sm'>
      <!-- TypeScript -->
      <img
        src='https://img.shields.io/badge/-%233178C6.svg?style=for-the-badge&logo=typescript&logoColor=white'
        alt='typescript'
        title='TypeScript'
      />
      <!-- JavaScript -->
      <img
        src='https://img.shields.io/badge/-%23323330.svg?style=for-the-badge&logo=javascript&logoColor=%23F7DF1E'
        alt='javascript'
        title='JavaScript'
      />
      <!-- Python -->
      <img
        src='https://img.shields.io/badge/-%233776AB.svg?style=for-the-badge&logo=python&logoColor=white'
        alt='python'
        title='Python'
      />
      <!-- C# -->
      <img
        src='https://img.shields.io/badge/-%23239120.svg?style=for-the-badge&logo=csharp&logoColor=white'
        alt='c#'
        title='C#'
      />
    </div>
    <div class='flex flex-row gap-2 responsive-text-sm'>
      <p class='font-semibold'>Tools</p>
      <p class='font-fira font-light'>󱁤</p>
    </div>
    <div class='flex gap-1 [&>img]:rounded-sm'>
      <!-- Git -->
      <img
        src='https://img.shields.io/badge/-%23F05032.svg?style=for-the-badge&logo=git&logoColor=white'
        alt='git'
        title='Git'
      />
      <!-- Visual Studio Code -->
      <img
        src='https://img.shields.io/badge/-%23007ACC.svg?style=for-the-badge&logo=visual-studio-code&logoColor=white'
        alt='vscode'
        title='Visual Studio Code'
      />
      <!-- Docker -->
      <img
        src='https://img.shields.io/badge/-%232496ED.svg?style=for-the-badge&logo=docker&logoColor=white'
        alt='docker'
        title='Docker'
      />
      <!-- Linux -->
      <img
        src='https://img.shields.io/badge/-%23FCC624.svg?style=for-the-badge&logo=linux&logoColor=black'
        alt='linux'
        title='Linux'
      />
    </div>
  </div>
  <p class='font-bold responsive-text-xxs pt-2'>
    -- Tap to see more --
  </p>
</a>
