<div class='input-wrapper responsive-text-sm'>
  <span class='placeholder'></span>
</div>

<style>
  @charset "UTF-8";
  .input-wrapper {
    display: block;
    font-family: fira, monospace;
    font-size: 1rem;
    font-weight: 400;
  }
  .input-wrapper > input,
  .input-wrapper > .placeholder {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
  }
  .input-wrapper > .placeholder {
    pointer-events: none;
  }
  .input-wrapper > .placeholder::before {
    content: '​';
    content: '​'/' Software Developer ';
    alt: ' Software Developer ';
    white-space: break-spaces;
    will-change: content;
    -webkit-animation:
      typed-0 21.552s linear 1s 2 forwards,
      typed-0-final 1.76s linear 44.104s 1 forwards;
    animation:
      typed-0 21.552s linear 1s 2 forwards,
      typed-0-final 1.76s linear 44.104s 1 forwards;
  }
  @-webkit-keyframes typed-0-final {
    0%,
    4.5454545455% {
      content: '​';
      content: '​'/' Software Developer ';
      alt: ' Software Developer ';
    }
    4.5464545455%,
    9.0909090909% {
      content: '​ ';
      content: '​ '/' Software Developer ';
      alt: ' Software Developer ';
    }
    9.0919090909%,
    13.6363636364% {
      content: '​ S';
      content: '​ S'/' Software Developer ';
      alt: ' Software Developer ';
    }
    13.6373636364%,
    18.1818181818% {
      content: '​ So';
      content: '​ So'/' Software Developer ';
      alt: ' Software Developer ';
    }
    18.1828181818%,
    22.7272727273% {
      content: '​ Sof';
      content: '​ Sof'/' Software Developer ';
      alt: ' Software Developer ';
    }
    22.7282727273%,
    27.2727272727% {
      content: '​ Soft';
      content: '​ Soft'/' Software Developer ';
      alt: ' Software Developer ';
    }
    27.2737272727%,
    31.8181818182% {
      content: '​ Softw';
      content: '​ Softw'/' Software Developer ';
      alt: ' Software Developer ';
    }
    31.8191818182%,
    36.3636363636% {
      content: '​ Softwa';
      content: '​ Softwa'/' Software Developer ';
      alt: ' Software Developer ';
    }
    36.3646363636%,
    40.9090909091% {
      content: '​ Softwar';
      content: '​ Softwar'/' Software Developer ';
      alt: ' Software Developer ';
    }
    40.9100909091%,
    45.4545454545% {
      content: '​ Software';
      content: '​ Software'/' Software Developer ';
      alt: ' Software Developer ';
    }
    45.4555454545%,
    50% {
      content: '​ Software ';
      content: '​ Software '/' Software Developer ';
      alt: ' Software Developer ';
    }
    50.001%,
    54.5454545455% {
      content: '​ Software D';
      content: '​ Software D'/' Software Developer ';
      alt: ' Software Developer ';
    }
    54.5464545455%,
    59.0909090909% {
      content: '​ Software De';
      content: '​ Software De'/' Software Developer ';
      alt: ' Software Developer ';
    }
    59.0919090909%,
    63.6363636364% {
      content: '​ Software Dev';
      content: '​ Software Dev'/' Software Developer ';
      alt: ' Software Developer ';
    }
    63.6373636364%,
    68.1818181818% {
      content: '​ Software Deve';
      content: '​ Software Deve'/' Software Developer ';
      alt: ' Software Developer ';
    }
    68.1828181818%,
    72.7272727273% {
      content: '​ Software Devel';
      content: '​ Software Devel'/' Software Developer ';
      alt: ' Software Developer ';
    }
    72.7282727273%,
    77.2727272727% {
      content: '​ Software Develo';
      content: '​ Software Develo'/' Software Developer ';
      alt: ' Software Developer ';
    }
    77.2737272727%,
    81.8181818182% {
      content: '​ Software Develop';
      content: '​ Software Develop'/' Software Developer ';
      alt: ' Software Developer ';
    }
    81.8191818182%,
    86.3636363636% {
      content: '​ Software Develope';
      content: '​ Software Develope'/' Software Developer ';
      alt: ' Software Developer ';
    }
    86.3646363636%,
    90.9090909091% {
      content: '​ Software Developer';
      content: '​ Software Developer'/' Software Developer ';
      alt: ' Software Developer ';
    }
    90.9100909091%,
    95.4545454545% {
      content: '​ Software Developer ';
      content: '​ Software Developer '/' Software Developer ';
      alt: ' Software Developer ';
    }
    95.4555454545%,
    100% {
      content: '​ Software Developer ';
      content: '​ Software Developer '/' Software Developer ';
      alt: ' Software Developer ';
    }
  }
  @keyframes typed-0-final {
    0%,
    4.5454545455% {
      content: '​';
      content: '​'/' Software Developer ';
      alt: ' Software Developer ';
    }
    4.5464545455%,
    9.0909090909% {
      content: '​ ';
      content: '​ '/' Software Developer ';
      alt: ' Software Developer ';
    }
    9.0919090909%,
    13.6363636364% {
      content: '​ S';
      content: '​ S'/' Software Developer ';
      alt: ' Software Developer ';
    }
    13.6373636364%,
    18.1818181818% {
      content: '​ So';
      content: '​ So'/' Software Developer ';
      alt: ' Software Developer ';
    }
    18.1828181818%,
    22.7272727273% {
      content: '​ Sof';
      content: '​ Sof'/' Software Developer ';
      alt: ' Software Developer ';
    }
    22.7282727273%,
    27.2727272727% {
      content: '​ Soft';
      content: '​ Soft'/' Software Developer ';
      alt: ' Software Developer ';
    }
    27.2737272727%,
    31.8181818182% {
      content: '​ Softw';
      content: '​ Softw'/' Software Developer ';
      alt: ' Software Developer ';
    }
    31.8191818182%,
    36.3636363636% {
      content: '​ Softwa';
      content: '​ Softwa'/' Software Developer ';
      alt: ' Software Developer ';
    }
    36.3646363636%,
    40.9090909091% {
      content: '​ Softwar';
      content: '​ Softwar'/' Software Developer ';
      alt: ' Software Developer ';
    }
    40.9100909091%,
    45.4545454545% {
      content: '​ Software';
      content: '​ Software'/' Software Developer ';
      alt: ' Software Developer ';
    }
    45.4555454545%,
    50% {
      content: '​ Software ';
      content: '​ Software '/' Software Developer ';
      alt: ' Software Developer ';
    }
    50.001%,
    54.5454545455% {
      content: '​ Software D';
      content: '​ Software D'/' Software Developer ';
      alt: ' Software Developer ';
    }
    54.5464545455%,
    59.0909090909% {
      content: '​ Software De';
      content: '​ Software De'/' Software Developer ';
      alt: ' Software Developer ';
    }
    59.0919090909%,
    63.6363636364% {
      content: '​ Software Dev';
      content: '​ Software Dev'/' Software Developer ';
      alt: ' Software Developer ';
    }
    63.6373636364%,
    68.1818181818% {
      content: '​ Software Deve';
      content: '​ Software Deve'/' Software Developer ';
      alt: ' Software Developer ';
    }
    68.1828181818%,
    72.7272727273% {
      content: '​ Software Devel';
      content: '​ Software Devel'/' Software Developer ';
      alt: ' Software Developer ';
    }
    72.7282727273%,
    77.2727272727% {
      content: '​ Software Develo';
      content: '​ Software Develo'/' Software Developer ';
      alt: ' Software Developer ';
    }
    77.2737272727%,
    81.8181818182% {
      content: '​ Software Develop';
      content: '​ Software Develop'/' Software Developer ';
      alt: ' Software Developer ';
    }
    81.8191818182%,
    86.3636363636% {
      content: '​ Software Develope';
      content: '​ Software Develope'/' Software Developer ';
      alt: ' Software Developer ';
    }
    86.3646363636%,
    90.9090909091% {
      content: '​ Software Developer';
      content: '​ Software Developer'/' Software Developer ';
      alt: ' Software Developer ';
    }
    90.9100909091%,
    95.4545454545% {
      content: '​ Software Developer ';
      content: '​ Software Developer '/' Software Developer ';
      alt: ' Software Developer ';
    }
    95.4555454545%,
    100% {
      content: '​ Software Developer ';
      content: '​ Software Developer '/' Software Developer ';
      alt: ' Software Developer ';
    }
  }
  @-webkit-keyframes typed-0 {
    0%,
    0.3701952487% {
      content: '​B';
      content: '​B'/' Software Developer ';
      alt: ' Software Developer ';
    }
    0.3711952487%,
    0.7413904974% {
      content: '​Ba';
      content: '​Ba'/' Software Developer ';
      alt: ' Software Developer ';
    }
    0.7423904974%,
    1.1125857461% {
      content: '​Bac';
      content: '​Bac'/' Software Developer ';
      alt: ' Software Developer ';
    }
    1.1135857461%,
    1.4837809948% {
      content: '​Back';
      content: '​Back'/' Software Developer ';
      alt: ' Software Developer ';
    }
    1.4847809948%,
    1.8549762435% {
      content: '​Backe';
      content: '​Backe'/' Software Developer ';
      alt: ' Software Developer ';
    }
    1.8559762435%,
    2.2261714922% {
      content: '​Backen';
      content: '​Backen'/' Software Developer ';
      alt: ' Software Developer ';
    }
    2.2271714922%,
    2.5973667409% {
      content: '​Backend';
      content: '​Backend'/' Software Developer ';
      alt: ' Software Developer ';
    }
    2.5983667409%,
    2.9685619896% {
      content: '​Backend ';
      content: '​Backend '/' Software Developer ';
      alt: ' Software Developer ';
    }
    2.9695619896%,
    3.3397572383% {
      content: '​Backend D';
      content: '​Backend D'/' Software Developer ';
      alt: ' Software Developer ';
    }
    3.3407572383%,
    3.710952487% {
      content: '​Backend De';
      content: '​Backend De'/' Software Developer ';
      alt: ' Software Developer ';
    }
    3.711952487%,
    4.0821477357% {
      content: '​Backend Dev';
      content: '​Backend Dev'/' Software Developer ';
      alt: ' Software Developer ';
    }
    4.0831477357%,
    4.4533429844% {
      content: '​Backend Deve';
      content: '​Backend Deve'/' Software Developer ';
      alt: ' Software Developer ';
    }
    4.4543429844%,
    4.8245382331% {
      content: '​Backend Devel';
      content: '​Backend Devel'/' Software Developer ';
      alt: ' Software Developer ';
    }
    4.8255382331%,
    5.1957334818% {
      content: '​Backend Develo';
      content: '​Backend Develo'/' Software Developer ';
      alt: ' Software Developer ';
    }
    5.1967334818%,
    5.5669287305% {
      content: '​Backend Develop';
      content: '​Backend Develop'/' Software Developer ';
      alt: ' Software Developer ';
    }
    5.5679287305%,
    5.9381239792% {
      content: '​Backend Develope';
      content: '​Backend Develope'/' Software Developer ';
      alt: ' Software Developer ';
    }
    5.9391239792%,
    6.3093192279% {
      content: '​Backend Developer';
      content: '​Backend Developer'/' Software Developer ';
      alt: ' Software Developer ';
    }
    6.3103192279%,
    6.6805144766% {
      content: '​Backend Developer ';
      content: '​Backend Developer '/' Software Developer ';
      alt: ' Software Developer ';
    }
    6.6815144766%,
    14.7725708983% {
      content: '​Backend Developer 󰒋';
      content: '​Backend Developer 󰒋'/' Software Developer ';
      alt: ' Software Developer ';
    }
    14.7735708983%,
    15.0695270973% {
      content: '​Backend Developer ';
      content: '​Backend Developer '/' Software Developer ';
      alt: ' Software Developer ';
    }
    15.0705270973%,
    15.3664832962% {
      content: '​Backend Developer';
      content: '​Backend Developer'/' Software Developer ';
      alt: ' Software Developer ';
    }
    15.3674832962%,
    15.6634394952% {
      content: '​Backend Develope';
      content: '​Backend Develope'/' Software Developer ';
      alt: ' Software Developer ';
    }
    15.6644394952%,
    15.9603956941% {
      content: '​Backend Develop';
      content: '​Backend Develop'/' Software Developer ';
      alt: ' Software Developer ';
    }
    15.9613956941%,
    16.2573518931% {
      content: '​Backend Develo';
      content: '​Backend Develo'/' Software Developer ';
      alt: ' Software Developer ';
    }
    16.2583518931%,
    16.5543080921% {
      content: '​Backend Devel';
      content: '​Backend Devel'/' Software Developer ';
      alt: ' Software Developer ';
    }
    16.5553080921%,
    16.851264291% {
      content: '​Backend Deve';
      content: '​Backend Deve'/' Software Developer ';
      alt: ' Software Developer ';
    }
    16.852264291%,
    17.14822049% {
      content: '​Backend Dev';
      content: '​Backend Dev'/' Software Developer ';
      alt: ' Software Developer ';
    }
    17.14922049%,
    17.4451766889% {
      content: '​Backend De';
      content: '​Backend De'/' Software Developer ';
      alt: ' Software Developer ';
    }
    17.4461766889%,
    17.7421328879% {
      content: '​Backend D';
      content: '​Backend D'/' Software Developer ';
      alt: ' Software Developer ';
    }
    17.7431328879%,
    18.0390890869% {
      content: '​Backend ';
      content: '​Backend '/' Software Developer ';
      alt: ' Software Developer ';
    }
    18.0400890869%,
    18.3360452858% {
      content: '​Backend';
      content: '​Backend'/' Software Developer ';
      alt: ' Software Developer ';
    }
    18.3370452858%,
    18.6330014848% {
      content: '​Backen';
      content: '​Backen'/' Software Developer ';
      alt: ' Software Developer ';
    }
    18.6340014848%,
    18.9299576837% {
      content: '​Backe';
      content: '​Backe'/' Software Developer ';
      alt: ' Software Developer ';
    }
    18.9309576837%,
    19.2269138827% {
      content: '​Back';
      content: '​Back'/' Software Developer ';
      alt: ' Software Developer ';
    }
    19.2279138827%,
    19.5238700817% {
      content: '​Bac';
      content: '​Bac'/' Software Developer ';
      alt: ' Software Developer ';
    }
    19.5248700817%,
    19.8208262806% {
      content: '​Ba';
      content: '​Ba'/' Software Developer ';
      alt: ' Software Developer ';
    }
    19.8218262806%,
    20.1177824796% {
      content: '​B';
      content: '​B'/' Software Developer ';
      alt: ' Software Developer ';
    }
    20.1187824796%,
    23.8297349666% {
      content: '​';
      content: '​'/' Software Developer ';
      alt: ' Software Developer ';
    }
    23.8307349666%,
    24.2009302153% {
      content: '​M';
      content: '​M'/' Software Developer ';
      alt: ' Software Developer ';
    }
    24.2019302153%,
    24.572125464% {
      content: '​Ma';
      content: '​Ma'/' Software Developer ';
      alt: ' Software Developer ';
    }
    24.573125464%,
    24.9433207127% {
      content: '​Mat';
      content: '​Mat'/' Software Developer ';
      alt: ' Software Developer ';
    }
    24.9443207127%,
    25.3145159614% {
      content: '​Math';
      content: '​Math'/' Software Developer ';
      alt: ' Software Developer ';
    }
    25.3155159614%,
    25.6857112101% {
      content: '​Math ';
      content: '​Math '/' Software Developer ';
      alt: ' Software Developer ';
    }
    25.6867112101%,
    26.0569064588% {
      content: '​Math E';
      content: '​Math E'/' Software Developer ';
      alt: ' Software Developer ';
    }
    26.0579064588%,
    26.4281017075% {
      content: '​Math En';
      content: '​Math En'/' Software Developer ';
      alt: ' Software Developer ';
    }
    26.4291017075%,
    26.7992969562% {
      content: '​Math Eng';
      content: '​Math Eng'/' Software Developer ';
      alt: ' Software Developer ';
    }
    26.8002969562%,
    27.1704922049% {
      content: '​Math Engi';
      content: '​Math Engi'/' Software Developer ';
      alt: ' Software Developer ';
    }
    27.1714922049%,
    27.5416874536% {
      content: '​Math Engin';
      content: '​Math Engin'/' Software Developer ';
      alt: ' Software Developer ';
    }
    27.5426874536%,
    27.9128827023% {
      content: '​Math Engine';
      content: '​Math Engine'/' Software Developer ';
      alt: ' Software Developer ';
    }
    27.9138827023%,
    28.284077951% {
      content: '​Math Enginee';
      content: '​Math Enginee'/' Software Developer ';
      alt: ' Software Developer ';
    }
    28.285077951%,
    28.6552731997% {
      content: '​Math Engineer';
      content: '​Math Engineer'/' Software Developer ';
      alt: ' Software Developer ';
    }
    28.6562731997%,
    29.0264684484% {
      content: '​Math Engineer ';
      content: '​Math Engineer '/' Software Developer ';
      alt: ' Software Developer ';
    }
    29.0274684484%,
    29.3976636971% {
      content: '​Math Engineer 󰿈';
      content: '​Math Engineer 󰿈'/' Software Developer ';
      alt: ' Software Developer ';
    }
    29.3986636971%,
    29.7688589458% {
      content: '​Math Engineer 󰿈 ';
      content: '​Math Engineer 󰿈 '/' Software Developer ';
      alt: ' Software Developer ';
    }
    29.7698589458%,
    37.8609153675% {
      content: '​Math Engineer 󰿈 󰍘';
      content: '​Math Engineer 󰿈 󰍘'/' Software Developer ';
      alt: ' Software Developer ';
    }
    37.8619153675%,
    38.1578715664% {
      content: '​Math Engineer 󰿈 ';
      content: '​Math Engineer 󰿈 '/' Software Developer ';
      alt: ' Software Developer ';
    }
    38.1588715664%,
    38.4548277654% {
      content: '​Math Engineer 󰿈';
      content: '​Math Engineer 󰿈'/' Software Developer ';
      alt: ' Software Developer ';
    }
    38.4558277654%,
    38.7517839644% {
      content: '​Math Engineer ';
      content: '​Math Engineer '/' Software Developer ';
      alt: ' Software Developer ';
    }
    38.7527839644%,
    39.0487401633% {
      content: '​Math Engineer';
      content: '​Math Engineer'/' Software Developer ';
      alt: ' Software Developer ';
    }
    39.0497401633%,
    39.3456963623% {
      content: '​Math Enginee';
      content: '​Math Enginee'/' Software Developer ';
      alt: ' Software Developer ';
    }
    39.3466963623%,
    39.6426525612% {
      content: '​Math Engine';
      content: '​Math Engine'/' Software Developer ';
      alt: ' Software Developer ';
    }
    39.6436525612%,
    39.9396087602% {
      content: '​Math Engin';
      content: '​Math Engin'/' Software Developer ';
      alt: ' Software Developer ';
    }
    39.9406087602%,
    40.2365649592% {
      content: '​Math Engi';
      content: '​Math Engi'/' Software Developer ';
      alt: ' Software Developer ';
    }
    40.2375649592%,
    40.5335211581% {
      content: '​Math Eng';
      content: '​Math Eng'/' Software Developer ';
      alt: ' Software Developer ';
    }
    40.5345211581%,
    40.8304773571% {
      content: '​Math En';
      content: '​Math En'/' Software Developer ';
      alt: ' Software Developer ';
    }
    40.8314773571%,
    41.1274335561% {
      content: '​Math E';
      content: '​Math E'/' Software Developer ';
      alt: ' Software Developer ';
    }
    41.1284335561%,
    41.424389755% {
      content: '​Math ';
      content: '​Math '/' Software Developer ';
      alt: ' Software Developer ';
    }
    41.425389755%,
    41.721345954% {
      content: '​Math';
      content: '​Math'/' Software Developer ';
      alt: ' Software Developer ';
    }
    41.722345954%,
    42.0183021529% {
      content: '​Mat';
      content: '​Mat'/' Software Developer ';
      alt: ' Software Developer ';
    }
    42.0193021529%,
    42.3152583519% {
      content: '​Ma';
      content: '​Ma'/' Software Developer ';
      alt: ' Software Developer ';
    }
    42.3162583519%,
    42.6122145509% {
      content: '​M';
      content: '​M'/' Software Developer ';
      alt: ' Software Developer ';
    }
    42.6132145509%,
    46.3241670379% {
      content: '​';
      content: '​'/' Software Developer ';
      alt: ' Software Developer ';
    }
    46.3251670379%,
    46.6953622866% {
      content: '​T';
      content: '​T'/' Software Developer ';
      alt: ' Software Developer ';
    }
    46.6963622866%,
    47.0665575353% {
      content: '​Ty';
      content: '​Ty'/' Software Developer ';
      alt: ' Software Developer ';
    }
    47.0675575353%,
    47.437752784% {
      content: '​Typ';
      content: '​Typ'/' Software Developer ';
      alt: ' Software Developer ';
    }
    47.438752784%,
    47.8089480327% {
      content: '​Type';
      content: '​Type'/' Software Developer ';
      alt: ' Software Developer ';
    }
    47.8099480327%,
    48.1801432814% {
      content: '​TypeS';
      content: '​TypeS'/' Software Developer ';
      alt: ' Software Developer ';
    }
    48.1811432814%,
    48.5513385301% {
      content: '​TypeSc';
      content: '​TypeSc'/' Software Developer ';
      alt: ' Software Developer ';
    }
    48.5523385301%,
    48.9225337788% {
      content: '​TypeScr';
      content: '​TypeScr'/' Software Developer ';
      alt: ' Software Developer ';
    }
    48.9235337788%,
    49.2937290275% {
      content: '​TypeScri';
      content: '​TypeScri'/' Software Developer ';
      alt: ' Software Developer ';
    }
    49.2947290275%,
    49.6649242762% {
      content: '​TypeScrip';
      content: '​TypeScrip'/' Software Developer ';
      alt: ' Software Developer ';
    }
    49.6659242762%,
    50.0361195249% {
      content: '​TypeScript';
      content: '​TypeScript'/' Software Developer ';
      alt: ' Software Developer ';
    }
    50.0371195249%,
    50.4073147736% {
      content: '​TypeScript ';
      content: '​TypeScript '/' Software Developer ';
      alt: ' Software Developer ';
    }
    50.4083147736%,
    50.7785100223% {
      content: '​TypeScript E';
      content: '​TypeScript E'/' Software Developer ';
      alt: ' Software Developer ';
    }
    50.7795100223%,
    51.149705271% {
      content: '​TypeScript En';
      content: '​TypeScript En'/' Software Developer ';
      alt: ' Software Developer ';
    }
    51.150705271%,
    51.5209005197% {
      content: '​TypeScript Enj';
      content: '​TypeScript Enj'/' Software Developer ';
      alt: ' Software Developer ';
    }
    51.5219005197%,
    51.8920957684% {
      content: '​TypeScript Enjo';
      content: '​TypeScript Enjo'/' Software Developer ';
      alt: ' Software Developer ';
    }
    51.8930957684%,
    52.2632910171% {
      content: '​TypeScript Enjoy';
      content: '​TypeScript Enjoy'/' Software Developer ';
      alt: ' Software Developer ';
    }
    52.2642910171%,
    52.6344862658% {
      content: '​TypeScript Enjoye';
      content: '​TypeScript Enjoye'/' Software Developer ';
      alt: ' Software Developer ';
    }
    52.6354862658%,
    53.0056815145% {
      content: '​TypeScript Enjoyer';
      content: '​TypeScript Enjoyer'/' Software Developer ';
      alt: ' Software Developer ';
    }
    53.0066815145%,
    53.3768767632% {
      content: '​TypeScript Enjoyer ';
      content: '​TypeScript Enjoyer '/' Software Developer ';
      alt: ' Software Developer ';
    }
    53.3778767632%,
    53.7480720119% {
      content: '​TypeScript Enjoyer :';
      content: '​TypeScript Enjoyer :'/' Software Developer ';
      alt: ' Software Developer ';
    }
    53.7490720119%,
    54.1192672606% {
      content: '​TypeScript Enjoyer :D';
      content: '​TypeScript Enjoyer :D'/' Software Developer ';
      alt: ' Software Developer ';
    }
    54.1202672606%,
    54.4904625093% {
      content: '​TypeScript Enjoyer :D ';
      content: '​TypeScript Enjoyer :D '/' Software Developer ';
      alt: ' Software Developer ';
    }
    54.4914625093%,
    62.582518931% {
      content: '​TypeScript Enjoyer :D 󰛦';
      content: '​TypeScript Enjoyer :D 󰛦'/' Software Developer ';
      alt: ' Software Developer ';
    }
    62.583518931%,
    62.8794751299% {
      content: '​TypeScript Enjoyer :D ';
      content: '​TypeScript Enjoyer :D '/' Software Developer ';
      alt: ' Software Developer ';
    }
    62.8804751299%,
    63.1764313289% {
      content: '​TypeScript Enjoyer :D';
      content: '​TypeScript Enjoyer :D'/' Software Developer ';
      alt: ' Software Developer ';
    }
    63.1774313289%,
    63.4733875278% {
      content: '​TypeScript Enjoyer :';
      content: '​TypeScript Enjoyer :'/' Software Developer ';
      alt: ' Software Developer ';
    }
    63.4743875278%,
    63.7703437268% {
      content: '​TypeScript Enjoyer ';
      content: '​TypeScript Enjoyer '/' Software Developer ';
      alt: ' Software Developer ';
    }
    63.7713437268%,
    64.0672999258% {
      content: '​TypeScript Enjoyer';
      content: '​TypeScript Enjoyer'/' Software Developer ';
      alt: ' Software Developer ';
    }
    64.0682999258%,
    64.3642561247% {
      content: '​TypeScript Enjoye';
      content: '​TypeScript Enjoye'/' Software Developer ';
      alt: ' Software Developer ';
    }
    64.3652561247%,
    64.6612123237% {
      content: '​TypeScript Enjoy';
      content: '​TypeScript Enjoy'/' Software Developer ';
      alt: ' Software Developer ';
    }
    64.6622123237%,
    64.9581685226% {
      content: '​TypeScript Enjo';
      content: '​TypeScript Enjo'/' Software Developer ';
      alt: ' Software Developer ';
    }
    64.9591685226%,
    65.2551247216% {
      content: '​TypeScript Enj';
      content: '​TypeScript Enj'/' Software Developer ';
      alt: ' Software Developer ';
    }
    65.2561247216%,
    65.5520809206% {
      content: '​TypeScript En';
      content: '​TypeScript En'/' Software Developer ';
      alt: ' Software Developer ';
    }
    65.5530809206%,
    65.8490371195% {
      content: '​TypeScript E';
      content: '​TypeScript E'/' Software Developer ';
      alt: ' Software Developer ';
    }
    65.8500371195%,
    66.1459933185% {
      content: '​TypeScript ';
      content: '​TypeScript '/' Software Developer ';
      alt: ' Software Developer ';
    }
    66.1469933185%,
    66.4429495174% {
      content: '​TypeScript';
      content: '​TypeScript'/' Software Developer ';
      alt: ' Software Developer ';
    }
    66.4439495174%,
    66.7399057164% {
      content: '​TypeScrip';
      content: '​TypeScrip'/' Software Developer ';
      alt: ' Software Developer ';
    }
    66.7409057164%,
    67.0368619154% {
      content: '​TypeScri';
      content: '​TypeScri'/' Software Developer ';
      alt: ' Software Developer ';
    }
    67.0378619154%,
    67.3338181143% {
      content: '​TypeScr';
      content: '​TypeScr'/' Software Developer ';
      alt: ' Software Developer ';
    }
    67.3348181143%,
    67.6307743133% {
      content: '​TypeSc';
      content: '​TypeSc'/' Software Developer ';
      alt: ' Software Developer ';
    }
    67.6317743133%,
    67.9277305122% {
      content: '​TypeS';
      content: '​TypeS'/' Software Developer ';
      alt: ' Software Developer ';
    }
    67.9287305122%,
    68.2246867112% {
      content: '​Type';
      content: '​Type'/' Software Developer ';
      alt: ' Software Developer ';
    }
    68.2256867112%,
    68.5216429102% {
      content: '​Typ';
      content: '​Typ'/' Software Developer ';
      alt: ' Software Developer ';
    }
    68.5226429102%,
    68.8185991091% {
      content: '​Ty';
      content: '​Ty'/' Software Developer ';
      alt: ' Software Developer ';
    }
    68.8195991091%,
    69.1155553081% {
      content: '​T';
      content: '​T'/' Software Developer ';
      alt: ' Software Developer ';
    }
    69.1165553081%,
    72.8275077951% {
      content: '​';
      content: '​'/' Software Developer ';
      alt: ' Software Developer ';
    }
    72.8285077951%,
    73.1987030438% {
      content: '​O';
      content: '​O'/' Software Developer ';
      alt: ' Software Developer ';
    }
    73.1997030438%,
    73.5698982925% {
      content: '​Op';
      content: '​Op'/' Software Developer ';
      alt: ' Software Developer ';
    }
    73.5708982925%,
    73.9410935412% {
      content: '​Ope';
      content: '​Ope'/' Software Developer ';
      alt: ' Software Developer ';
    }
    73.9420935412%,
    74.3122887899% {
      content: '​Open';
      content: '​Open'/' Software Developer ';
      alt: ' Software Developer ';
    }
    74.3132887899%,
    74.6834840386% {
      content: '​Open ';
      content: '​Open '/' Software Developer ';
      alt: ' Software Developer ';
    }
    74.6844840386%,
    75.0546792873% {
      content: '​Open S';
      content: '​Open S'/' Software Developer ';
      alt: ' Software Developer ';
    }
    75.0556792873%,
    75.425874536% {
      content: '​Open So';
      content: '​Open So'/' Software Developer ';
      alt: ' Software Developer ';
    }
    75.426874536%,
    75.7970697847% {
      content: '​Open Sou';
      content: '​Open Sou'/' Software Developer ';
      alt: ' Software Developer ';
    }
    75.7980697847%,
    76.1682650334% {
      content: '​Open Sour';
      content: '​Open Sour'/' Software Developer ';
      alt: ' Software Developer ';
    }
    76.1692650334%,
    76.5394602821% {
      content: '​Open Sourc';
      content: '​Open Sourc'/' Software Developer ';
      alt: ' Software Developer ';
    }
    76.5404602821%,
    76.9106555308% {
      content: '​Open Source';
      content: '​Open Source'/' Software Developer ';
      alt: ' Software Developer ';
    }
    76.9116555308%,
    77.2818507795% {
      content: '​Open Source ';
      content: '​Open Source '/' Software Developer ';
      alt: ' Software Developer ';
    }
    77.2828507795%,
    77.6530460282% {
      content: '​Open Source E';
      content: '​Open Source E'/' Software Developer ';
      alt: ' Software Developer ';
    }
    77.6540460282%,
    78.0242412769% {
      content: '​Open Source En';
      content: '​Open Source En'/' Software Developer ';
      alt: ' Software Developer ';
    }
    78.0252412769%,
    78.3954365256% {
      content: '​Open Source Ent';
      content: '​Open Source Ent'/' Software Developer ';
      alt: ' Software Developer ';
    }
    78.3964365256%,
    78.7666317743% {
      content: '​Open Source Enth';
      content: '​Open Source Enth'/' Software Developer ';
      alt: ' Software Developer ';
    }
    78.7676317743%,
    79.137827023% {
      content: '​Open Source Enthu';
      content: '​Open Source Enthu'/' Software Developer ';
      alt: ' Software Developer ';
    }
    79.138827023%,
    79.5090222717% {
      content: '​Open Source Enthus';
      content: '​Open Source Enthus'/' Software Developer ';
      alt: ' Software Developer ';
    }
    79.5100222717%,
    79.8802175204% {
      content: '​Open Source Enthusi';
      content: '​Open Source Enthusi'/' Software Developer ';
      alt: ' Software Developer ';
    }
    79.8812175204%,
    80.2514127691% {
      content: '​Open Source Enthusia';
      content: '​Open Source Enthusia'/' Software Developer ';
      alt: ' Software Developer ';
    }
    80.2524127691%,
    80.6226080178% {
      content: '​Open Source Enthusias';
      content: '​Open Source Enthusias'/' Software Developer ';
      alt: ' Software Developer ';
    }
    80.6236080178%,
    80.9938032665% {
      content: '​Open Source Enthusiast';
      content: '​Open Source Enthusiast'/' Software Developer ';
      alt: ' Software Developer ';
    }
    80.9948032665%,
    81.3649985152% {
      content: '​Open Source Enthusiast ';
      content: '​Open Source Enthusiast '/' Software Developer ';
      alt: ' Software Developer ';
    }
    81.3659985152%,
    89.4570549369% {
      content: '​Open Source Enthusiast 󰮮';
      content: '​Open Source Enthusiast 󰮮'/' Software Developer ';
      alt: ' Software Developer ';
    }
    89.4580549369%,
    89.7540111359% {
      content: '​Open Source Enthusiast ';
      content: '​Open Source Enthusiast '/' Software Developer ';
      alt: ' Software Developer ';
    }
    89.7550111359%,
    90.0509673348% {
      content: '​Open Source Enthusiast';
      content: '​Open Source Enthusiast'/' Software Developer ';
      alt: ' Software Developer ';
    }
    90.0519673348%,
    90.3479235338% {
      content: '​Open Source Enthusias';
      content: '​Open Source Enthusias'/' Software Developer ';
      alt: ' Software Developer ';
    }
    90.3489235338%,
    90.6448797327% {
      content: '​Open Source Enthusia';
      content: '​Open Source Enthusia'/' Software Developer ';
      alt: ' Software Developer ';
    }
    90.6458797327%,
    90.9418359317% {
      content: '​Open Source Enthusi';
      content: '​Open Source Enthusi'/' Software Developer ';
      alt: ' Software Developer ';
    }
    90.9428359317%,
    91.2387921307% {
      content: '​Open Source Enthus';
      content: '​Open Source Enthus'/' Software Developer ';
      alt: ' Software Developer ';
    }
    91.2397921307%,
    91.5357483296% {
      content: '​Open Source Enthu';
      content: '​Open Source Enthu'/' Software Developer ';
      alt: ' Software Developer ';
    }
    91.5367483296%,
    91.8327045286% {
      content: '​Open Source Enth';
      content: '​Open Source Enth'/' Software Developer ';
      alt: ' Software Developer ';
    }
    91.8337045286%,
    92.1296607275% {
      content: '​Open Source Ent';
      content: '​Open Source Ent'/' Software Developer ';
      alt: ' Software Developer ';
    }
    92.1306607275%,
    92.4266169265% {
      content: '​Open Source En';
      content: '​Open Source En'/' Software Developer ';
      alt: ' Software Developer ';
    }
    92.4276169265%,
    92.7235731255% {
      content: '​Open Source E';
      content: '​Open Source E'/' Software Developer ';
      alt: ' Software Developer ';
    }
    92.7245731255%,
    93.0205293244% {
      content: '​Open Source ';
      content: '​Open Source '/' Software Developer ';
      alt: ' Software Developer ';
    }
    93.0215293244%,
    93.3174855234% {
      content: '​Open Source';
      content: '​Open Source'/' Software Developer ';
      alt: ' Software Developer ';
    }
    93.3184855234%,
    93.6144417223% {
      content: '​Open Sourc';
      content: '​Open Sourc'/' Software Developer ';
      alt: ' Software Developer ';
    }
    93.6154417223%,
    93.9113979213% {
      content: '​Open Sour';
      content: '​Open Sour'/' Software Developer ';
      alt: ' Software Developer ';
    }
    93.9123979213%,
    94.2083541203% {
      content: '​Open Sou';
      content: '​Open Sou'/' Software Developer ';
      alt: ' Software Developer ';
    }
    94.2093541203%,
    94.5053103192% {
      content: '​Open So';
      content: '​Open So'/' Software Developer ';
      alt: ' Software Developer ';
    }
    94.5063103192%,
    94.8022665182% {
      content: '​Open S';
      content: '​Open S'/' Software Developer ';
      alt: ' Software Developer ';
    }
    94.8032665182%,
    95.0992227171% {
      content: '​Open ';
      content: '​Open '/' Software Developer ';
      alt: ' Software Developer ';
    }
    95.1002227171%,
    95.3961789161% {
      content: '​Open';
      content: '​Open'/' Software Developer ';
      alt: ' Software Developer ';
    }
    95.3971789161%,
    95.6931351151% {
      content: '​Ope';
      content: '​Ope'/' Software Developer ';
      alt: ' Software Developer ';
    }
    95.6941351151%,
    95.990091314% {
      content: '​Op';
      content: '​Op'/' Software Developer ';
      alt: ' Software Developer ';
    }
    95.991091314%,
    96.287047513% {
      content: '​O';
      content: '​O'/' Software Developer ';
      alt: ' Software Developer ';
    }
    96.288047513%,
    100% {
      content: '​';
      content: '​'/' Software Developer ';
      alt: ' Software Developer ';
    }
  }
  @keyframes typed-0 {
    0%,
    0.3701952487% {
      content: '​B';
      content: '​B'/' Software Developer ';
      alt: ' Software Developer ';
    }
    0.3711952487%,
    0.7413904974% {
      content: '​Ba';
      content: '​Ba'/' Software Developer ';
      alt: ' Software Developer ';
    }
    0.7423904974%,
    1.1125857461% {
      content: '​Bac';
      content: '​Bac'/' Software Developer ';
      alt: ' Software Developer ';
    }
    1.1135857461%,
    1.4837809948% {
      content: '​Back';
      content: '​Back'/' Software Developer ';
      alt: ' Software Developer ';
    }
    1.4847809948%,
    1.8549762435% {
      content: '​Backe';
      content: '​Backe'/' Software Developer ';
      alt: ' Software Developer ';
    }
    1.8559762435%,
    2.2261714922% {
      content: '​Backen';
      content: '​Backen'/' Software Developer ';
      alt: ' Software Developer ';
    }
    2.2271714922%,
    2.5973667409% {
      content: '​Backend';
      content: '​Backend'/' Software Developer ';
      alt: ' Software Developer ';
    }
    2.5983667409%,
    2.9685619896% {
      content: '​Backend ';
      content: '​Backend '/' Software Developer ';
      alt: ' Software Developer ';
    }
    2.9695619896%,
    3.3397572383% {
      content: '​Backend D';
      content: '​Backend D'/' Software Developer ';
      alt: ' Software Developer ';
    }
    3.3407572383%,
    3.710952487% {
      content: '​Backend De';
      content: '​Backend De'/' Software Developer ';
      alt: ' Software Developer ';
    }
    3.711952487%,
    4.0821477357% {
      content: '​Backend Dev';
      content: '​Backend Dev'/' Software Developer ';
      alt: ' Software Developer ';
    }
    4.0831477357%,
    4.4533429844% {
      content: '​Backend Deve';
      content: '​Backend Deve'/' Software Developer ';
      alt: ' Software Developer ';
    }
    4.4543429844%,
    4.8245382331% {
      content: '​Backend Devel';
      content: '​Backend Devel'/' Software Developer ';
      alt: ' Software Developer ';
    }
    4.8255382331%,
    5.1957334818% {
      content: '​Backend Develo';
      content: '​Backend Develo'/' Software Developer ';
      alt: ' Software Developer ';
    }
    5.1967334818%,
    5.5669287305% {
      content: '​Backend Develop';
      content: '​Backend Develop'/' Software Developer ';
      alt: ' Software Developer ';
    }
    5.5679287305%,
    5.9381239792% {
      content: '​Backend Develope';
      content: '​Backend Develope'/' Software Developer ';
      alt: ' Software Developer ';
    }
    5.9391239792%,
    6.3093192279% {
      content: '​Backend Developer';
      content: '​Backend Developer'/' Software Developer ';
      alt: ' Software Developer ';
    }
    6.3103192279%,
    6.6805144766% {
      content: '​Backend Developer ';
      content: '​Backend Developer '/' Software Developer ';
      alt: ' Software Developer ';
    }
    6.6815144766%,
    14.7725708983% {
      content: '​Backend Developer 󰒋';
      content: '​Backend Developer 󰒋'/' Software Developer ';
      alt: ' Software Developer ';
    }
    14.7735708983%,
    15.0695270973% {
      content: '​Backend Developer ';
      content: '​Backend Developer '/' Software Developer ';
      alt: ' Software Developer ';
    }
    15.0705270973%,
    15.3664832962% {
      content: '​Backend Developer';
      content: '​Backend Developer'/' Software Developer ';
      alt: ' Software Developer ';
    }
    15.3674832962%,
    15.6634394952% {
      content: '​Backend Develope';
      content: '​Backend Develope'/' Software Developer ';
      alt: ' Software Developer ';
    }
    15.6644394952%,
    15.9603956941% {
      content: '​Backend Develop';
      content: '​Backend Develop'/' Software Developer ';
      alt: ' Software Developer ';
    }
    15.9613956941%,
    16.2573518931% {
      content: '​Backend Develo';
      content: '​Backend Develo'/' Software Developer ';
      alt: ' Software Developer ';
    }
    16.2583518931%,
    16.5543080921% {
      content: '​Backend Devel';
      content: '​Backend Devel'/' Software Developer ';
      alt: ' Software Developer ';
    }
    16.5553080921%,
    16.851264291% {
      content: '​Backend Deve';
      content: '​Backend Deve'/' Software Developer ';
      alt: ' Software Developer ';
    }
    16.852264291%,
    17.14822049% {
      content: '​Backend Dev';
      content: '​Backend Dev'/' Software Developer ';
      alt: ' Software Developer ';
    }
    17.14922049%,
    17.4451766889% {
      content: '​Backend De';
      content: '​Backend De'/' Software Developer ';
      alt: ' Software Developer ';
    }
    17.4461766889%,
    17.7421328879% {
      content: '​Backend D';
      content: '​Backend D'/' Software Developer ';
      alt: ' Software Developer ';
    }
    17.7431328879%,
    18.0390890869% {
      content: '​Backend ';
      content: '​Backend '/' Software Developer ';
      alt: ' Software Developer ';
    }
    18.0400890869%,
    18.3360452858% {
      content: '​Backend';
      content: '​Backend'/' Software Developer ';
      alt: ' Software Developer ';
    }
    18.3370452858%,
    18.6330014848% {
      content: '​Backen';
      content: '​Backen'/' Software Developer ';
      alt: ' Software Developer ';
    }
    18.6340014848%,
    18.9299576837% {
      content: '​Backe';
      content: '​Backe'/' Software Developer ';
      alt: ' Software Developer ';
    }
    18.9309576837%,
    19.2269138827% {
      content: '​Back';
      content: '​Back'/' Software Developer ';
      alt: ' Software Developer ';
    }
    19.2279138827%,
    19.5238700817% {
      content: '​Bac';
      content: '​Bac'/' Software Developer ';
      alt: ' Software Developer ';
    }
    19.5248700817%,
    19.8208262806% {
      content: '​Ba';
      content: '​Ba'/' Software Developer ';
      alt: ' Software Developer ';
    }
    19.8218262806%,
    20.1177824796% {
      content: '​B';
      content: '​B'/' Software Developer ';
      alt: ' Software Developer ';
    }
    20.1187824796%,
    23.8297349666% {
      content: '​';
      content: '​'/' Software Developer ';
      alt: ' Software Developer ';
    }
    23.8307349666%,
    24.2009302153% {
      content: '​M';
      content: '​M'/' Software Developer ';
      alt: ' Software Developer ';
    }
    24.2019302153%,
    24.572125464% {
      content: '​Ma';
      content: '​Ma'/' Software Developer ';
      alt: ' Software Developer ';
    }
    24.573125464%,
    24.9433207127% {
      content: '​Mat';
      content: '​Mat'/' Software Developer ';
      alt: ' Software Developer ';
    }
    24.9443207127%,
    25.3145159614% {
      content: '​Math';
      content: '​Math'/' Software Developer ';
      alt: ' Software Developer ';
    }
    25.3155159614%,
    25.6857112101% {
      content: '​Math ';
      content: '​Math '/' Software Developer ';
      alt: ' Software Developer ';
    }
    25.6867112101%,
    26.0569064588% {
      content: '​Math E';
      content: '​Math E'/' Software Developer ';
      alt: ' Software Developer ';
    }
    26.0579064588%,
    26.4281017075% {
      content: '​Math En';
      content: '​Math En'/' Software Developer ';
      alt: ' Software Developer ';
    }
    26.4291017075%,
    26.7992969562% {
      content: '​Math Eng';
      content: '​Math Eng'/' Software Developer ';
      alt: ' Software Developer ';
    }
    26.8002969562%,
    27.1704922049% {
      content: '​Math Engi';
      content: '​Math Engi'/' Software Developer ';
      alt: ' Software Developer ';
    }
    27.1714922049%,
    27.5416874536% {
      content: '​Math Engin';
      content: '​Math Engin'/' Software Developer ';
      alt: ' Software Developer ';
    }
    27.5426874536%,
    27.9128827023% {
      content: '​Math Engine';
      content: '​Math Engine'/' Software Developer ';
      alt: ' Software Developer ';
    }
    27.9138827023%,
    28.284077951% {
      content: '​Math Enginee';
      content: '​Math Enginee'/' Software Developer ';
      alt: ' Software Developer ';
    }
    28.285077951%,
    28.6552731997% {
      content: '​Math Engineer';
      content: '​Math Engineer'/' Software Developer ';
      alt: ' Software Developer ';
    }
    28.6562731997%,
    29.0264684484% {
      content: '​Math Engineer ';
      content: '​Math Engineer '/' Software Developer ';
      alt: ' Software Developer ';
    }
    29.0274684484%,
    29.3976636971% {
      content: '​Math Engineer 󰿈';
      content: '​Math Engineer 󰿈'/' Software Developer ';
      alt: ' Software Developer ';
    }
    29.3986636971%,
    29.7688589458% {
      content: '​Math Engineer 󰿈 ';
      content: '​Math Engineer 󰿈 '/' Software Developer ';
      alt: ' Software Developer ';
    }
    29.7698589458%,
    37.8609153675% {
      content: '​Math Engineer 󰿈 󰍘';
      content: '​Math Engineer 󰿈 󰍘'/' Software Developer ';
      alt: ' Software Developer ';
    }
    37.8619153675%,
    38.1578715664% {
      content: '​Math Engineer 󰿈 ';
      content: '​Math Engineer 󰿈 '/' Software Developer ';
      alt: ' Software Developer ';
    }
    38.1588715664%,
    38.4548277654% {
      content: '​Math Engineer 󰿈';
      content: '​Math Engineer 󰿈'/' Software Developer ';
      alt: ' Software Developer ';
    }
    38.4558277654%,
    38.7517839644% {
      content: '​Math Engineer ';
      content: '​Math Engineer '/' Software Developer ';
      alt: ' Software Developer ';
    }
    38.7527839644%,
    39.0487401633% {
      content: '​Math Engineer';
      content: '​Math Engineer'/' Software Developer ';
      alt: ' Software Developer ';
    }
    39.0497401633%,
    39.3456963623% {
      content: '​Math Enginee';
      content: '​Math Enginee'/' Software Developer ';
      alt: ' Software Developer ';
    }
    39.3466963623%,
    39.6426525612% {
      content: '​Math Engine';
      content: '​Math Engine'/' Software Developer ';
      alt: ' Software Developer ';
    }
    39.6436525612%,
    39.9396087602% {
      content: '​Math Engin';
      content: '​Math Engin'/' Software Developer ';
      alt: ' Software Developer ';
    }
    39.9406087602%,
    40.2365649592% {
      content: '​Math Engi';
      content: '​Math Engi'/' Software Developer ';
      alt: ' Software Developer ';
    }
    40.2375649592%,
    40.5335211581% {
      content: '​Math Eng';
      content: '​Math Eng'/' Software Developer ';
      alt: ' Software Developer ';
    }
    40.5345211581%,
    40.8304773571% {
      content: '​Math En';
      content: '​Math En'/' Software Developer ';
      alt: ' Software Developer ';
    }
    40.8314773571%,
    41.1274335561% {
      content: '​Math E';
      content: '​Math E'/' Software Developer ';
      alt: ' Software Developer ';
    }
    41.1284335561%,
    41.424389755% {
      content: '​Math ';
      content: '​Math '/' Software Developer ';
      alt: ' Software Developer ';
    }
    41.425389755%,
    41.721345954% {
      content: '​Math';
      content: '​Math'/' Software Developer ';
      alt: ' Software Developer ';
    }
    41.722345954%,
    42.0183021529% {
      content: '​Mat';
      content: '​Mat'/' Software Developer ';
      alt: ' Software Developer ';
    }
    42.0193021529%,
    42.3152583519% {
      content: '​Ma';
      content: '​Ma'/' Software Developer ';
      alt: ' Software Developer ';
    }
    42.3162583519%,
    42.6122145509% {
      content: '​M';
      content: '​M'/' Software Developer ';
      alt: ' Software Developer ';
    }
    42.6132145509%,
    46.3241670379% {
      content: '​';
      content: '​'/' Software Developer ';
      alt: ' Software Developer ';
    }
    46.3251670379%,
    46.6953622866% {
      content: '​T';
      content: '​T'/' Software Developer ';
      alt: ' Software Developer ';
    }
    46.6963622866%,
    47.0665575353% {
      content: '​Ty';
      content: '​Ty'/' Software Developer ';
      alt: ' Software Developer ';
    }
    47.0675575353%,
    47.437752784% {
      content: '​Typ';
      content: '​Typ'/' Software Developer ';
      alt: ' Software Developer ';
    }
    47.438752784%,
    47.8089480327% {
      content: '​Type';
      content: '​Type'/' Software Developer ';
      alt: ' Software Developer ';
    }
    47.8099480327%,
    48.1801432814% {
      content: '​TypeS';
      content: '​TypeS'/' Software Developer ';
      alt: ' Software Developer ';
    }
    48.1811432814%,
    48.5513385301% {
      content: '​TypeSc';
      content: '​TypeSc'/' Software Developer ';
      alt: ' Software Developer ';
    }
    48.5523385301%,
    48.9225337788% {
      content: '​TypeScr';
      content: '​TypeScr'/' Software Developer ';
      alt: ' Software Developer ';
    }
    48.9235337788%,
    49.2937290275% {
      content: '​TypeScri';
      content: '​TypeScri'/' Software Developer ';
      alt: ' Software Developer ';
    }
    49.2947290275%,
    49.6649242762% {
      content: '​TypeScrip';
      content: '​TypeScrip'/' Software Developer ';
      alt: ' Software Developer ';
    }
    49.6659242762%,
    50.0361195249% {
      content: '​TypeScript';
      content: '​TypeScript'/' Software Developer ';
      alt: ' Software Developer ';
    }
    50.0371195249%,
    50.4073147736% {
      content: '​TypeScript ';
      content: '​TypeScript '/' Software Developer ';
      alt: ' Software Developer ';
    }
    50.4083147736%,
    50.7785100223% {
      content: '​TypeScript E';
      content: '​TypeScript E'/' Software Developer ';
      alt: ' Software Developer ';
    }
    50.7795100223%,
    51.149705271% {
      content: '​TypeScript En';
      content: '​TypeScript En'/' Software Developer ';
      alt: ' Software Developer ';
    }
    51.150705271%,
    51.5209005197% {
      content: '​TypeScript Enj';
      content: '​TypeScript Enj'/' Software Developer ';
      alt: ' Software Developer ';
    }
    51.5219005197%,
    51.8920957684% {
      content: '​TypeScript Enjo';
      content: '​TypeScript Enjo'/' Software Developer ';
      alt: ' Software Developer ';
    }
    51.8930957684%,
    52.2632910171% {
      content: '​TypeScript Enjoy';
      content: '​TypeScript Enjoy'/' Software Developer ';
      alt: ' Software Developer ';
    }
    52.2642910171%,
    52.6344862658% {
      content: '​TypeScript Enjoye';
      content: '​TypeScript Enjoye'/' Software Developer ';
      alt: ' Software Developer ';
    }
    52.6354862658%,
    53.0056815145% {
      content: '​TypeScript Enjoyer';
      content: '​TypeScript Enjoyer'/' Software Developer ';
      alt: ' Software Developer ';
    }
    53.0066815145%,
    53.3768767632% {
      content: '​TypeScript Enjoyer ';
      content: '​TypeScript Enjoyer '/' Software Developer ';
      alt: ' Software Developer ';
    }
    53.3778767632%,
    53.7480720119% {
      content: '​TypeScript Enjoyer :';
      content: '​TypeScript Enjoyer :'/' Software Developer ';
      alt: ' Software Developer ';
    }
    53.7490720119%,
    54.1192672606% {
      content: '​TypeScript Enjoyer :D';
      content: '​TypeScript Enjoyer :D'/' Software Developer ';
      alt: ' Software Developer ';
    }
    54.1202672606%,
    54.4904625093% {
      content: '​TypeScript Enjoyer :D ';
      content: '​TypeScript Enjoyer :D '/' Software Developer ';
      alt: ' Software Developer ';
    }
    54.4914625093%,
    62.582518931% {
      content: '​TypeScript Enjoyer :D 󰛦';
      content: '​TypeScript Enjoyer :D 󰛦'/' Software Developer ';
      alt: ' Software Developer ';
    }
    62.583518931%,
    62.8794751299% {
      content: '​TypeScript Enjoyer :D ';
      content: '​TypeScript Enjoyer :D '/' Software Developer ';
      alt: ' Software Developer ';
    }
    62.8804751299%,
    63.1764313289% {
      content: '​TypeScript Enjoyer :D';
      content: '​TypeScript Enjoyer :D'/' Software Developer ';
      alt: ' Software Developer ';
    }
    63.1774313289%,
    63.4733875278% {
      content: '​TypeScript Enjoyer :';
      content: '​TypeScript Enjoyer :'/' Software Developer ';
      alt: ' Software Developer ';
    }
    63.4743875278%,
    63.7703437268% {
      content: '​TypeScript Enjoyer ';
      content: '​TypeScript Enjoyer '/' Software Developer ';
      alt: ' Software Developer ';
    }
    63.7713437268%,
    64.0672999258% {
      content: '​TypeScript Enjoyer';
      content: '​TypeScript Enjoyer'/' Software Developer ';
      alt: ' Software Developer ';
    }
    64.0682999258%,
    64.3642561247% {
      content: '​TypeScript Enjoye';
      content: '​TypeScript Enjoye'/' Software Developer ';
      alt: ' Software Developer ';
    }
    64.3652561247%,
    64.6612123237% {
      content: '​TypeScript Enjoy';
      content: '​TypeScript Enjoy'/' Software Developer ';
      alt: ' Software Developer ';
    }
    64.6622123237%,
    64.9581685226% {
      content: '​TypeScript Enjo';
      content: '​TypeScript Enjo'/' Software Developer ';
      alt: ' Software Developer ';
    }
    64.9591685226%,
    65.2551247216% {
      content: '​TypeScript Enj';
      content: '​TypeScript Enj'/' Software Developer ';
      alt: ' Software Developer ';
    }
    65.2561247216%,
    65.5520809206% {
      content: '​TypeScript En';
      content: '​TypeScript En'/' Software Developer ';
      alt: ' Software Developer ';
    }
    65.5530809206%,
    65.8490371195% {
      content: '​TypeScript E';
      content: '​TypeScript E'/' Software Developer ';
      alt: ' Software Developer ';
    }
    65.8500371195%,
    66.1459933185% {
      content: '​TypeScript ';
      content: '​TypeScript '/' Software Developer ';
      alt: ' Software Developer ';
    }
    66.1469933185%,
    66.4429495174% {
      content: '​TypeScript';
      content: '​TypeScript'/' Software Developer ';
      alt: ' Software Developer ';
    }
    66.4439495174%,
    66.7399057164% {
      content: '​TypeScrip';
      content: '​TypeScrip'/' Software Developer ';
      alt: ' Software Developer ';
    }
    66.7409057164%,
    67.0368619154% {
      content: '​TypeScri';
      content: '​TypeScri'/' Software Developer ';
      alt: ' Software Developer ';
    }
    67.0378619154%,
    67.3338181143% {
      content: '​TypeScr';
      content: '​TypeScr'/' Software Developer ';
      alt: ' Software Developer ';
    }
    67.3348181143%,
    67.6307743133% {
      content: '​TypeSc';
      content: '​TypeSc'/' Software Developer ';
      alt: ' Software Developer ';
    }
    67.6317743133%,
    67.9277305122% {
      content: '​TypeS';
      content: '​TypeS'/' Software Developer ';
      alt: ' Software Developer ';
    }
    67.9287305122%,
    68.2246867112% {
      content: '​Type';
      content: '​Type'/' Software Developer ';
      alt: ' Software Developer ';
    }
    68.2256867112%,
    68.5216429102% {
      content: '​Typ';
      content: '​Typ'/' Software Developer ';
      alt: ' Software Developer ';
    }
    68.5226429102%,
    68.8185991091% {
      content: '​Ty';
      content: '​Ty'/' Software Developer ';
      alt: ' Software Developer ';
    }
    68.8195991091%,
    69.1155553081% {
      content: '​T';
      content: '​T'/' Software Developer ';
      alt: ' Software Developer ';
    }
    69.1165553081%,
    72.8275077951% {
      content: '​';
      content: '​'/' Software Developer ';
      alt: ' Software Developer ';
    }
    72.8285077951%,
    73.1987030438% {
      content: '​O';
      content: '​O'/' Software Developer ';
      alt: ' Software Developer ';
    }
    73.1997030438%,
    73.5698982925% {
      content: '​Op';
      content: '​Op'/' Software Developer ';
      alt: ' Software Developer ';
    }
    73.5708982925%,
    73.9410935412% {
      content: '​Ope';
      content: '​Ope'/' Software Developer ';
      alt: ' Software Developer ';
    }
    73.9420935412%,
    74.3122887899% {
      content: '​Open';
      content: '​Open'/' Software Developer ';
      alt: ' Software Developer ';
    }
    74.3132887899%,
    74.6834840386% {
      content: '​Open ';
      content: '​Open '/' Software Developer ';
      alt: ' Software Developer ';
    }
    74.6844840386%,
    75.0546792873% {
      content: '​Open S';
      content: '​Open S'/' Software Developer ';
      alt: ' Software Developer ';
    }
    75.0556792873%,
    75.425874536% {
      content: '​Open So';
      content: '​Open So'/' Software Developer ';
      alt: ' Software Developer ';
    }
    75.426874536%,
    75.7970697847% {
      content: '​Open Sou';
      content: '​Open Sou'/' Software Developer ';
      alt: ' Software Developer ';
    }
    75.7980697847%,
    76.1682650334% {
      content: '​Open Sour';
      content: '​Open Sour'/' Software Developer ';
      alt: ' Software Developer ';
    }
    76.1692650334%,
    76.5394602821% {
      content: '​Open Sourc';
      content: '​Open Sourc'/' Software Developer ';
      alt: ' Software Developer ';
    }
    76.5404602821%,
    76.9106555308% {
      content: '​Open Source';
      content: '​Open Source'/' Software Developer ';
      alt: ' Software Developer ';
    }
    76.9116555308%,
    77.2818507795% {
      content: '​Open Source ';
      content: '​Open Source '/' Software Developer ';
      alt: ' Software Developer ';
    }
    77.2828507795%,
    77.6530460282% {
      content: '​Open Source E';
      content: '​Open Source E'/' Software Developer ';
      alt: ' Software Developer ';
    }
    77.6540460282%,
    78.0242412769% {
      content: '​Open Source En';
      content: '​Open Source En'/' Software Developer ';
      alt: ' Software Developer ';
    }
    78.0252412769%,
    78.3954365256% {
      content: '​Open Source Ent';
      content: '​Open Source Ent'/' Software Developer ';
      alt: ' Software Developer ';
    }
    78.3964365256%,
    78.7666317743% {
      content: '​Open Source Enth';
      content: '​Open Source Enth'/' Software Developer ';
      alt: ' Software Developer ';
    }
    78.7676317743%,
    79.137827023% {
      content: '​Open Source Enthu';
      content: '​Open Source Enthu'/' Software Developer ';
      alt: ' Software Developer ';
    }
    79.138827023%,
    79.5090222717% {
      content: '​Open Source Enthus';
      content: '​Open Source Enthus'/' Software Developer ';
      alt: ' Software Developer ';
    }
    79.5100222717%,
    79.8802175204% {
      content: '​Open Source Enthusi';
      content: '​Open Source Enthusi'/' Software Developer ';
      alt: ' Software Developer ';
    }
    79.8812175204%,
    80.2514127691% {
      content: '​Open Source Enthusia';
      content: '​Open Source Enthusia'/' Software Developer ';
      alt: ' Software Developer ';
    }
    80.2524127691%,
    80.6226080178% {
      content: '​Open Source Enthusias';
      content: '​Open Source Enthusias'/' Software Developer ';
      alt: ' Software Developer ';
    }
    80.6236080178%,
    80.9938032665% {
      content: '​Open Source Enthusiast';
      content: '​Open Source Enthusiast'/' Software Developer ';
      alt: ' Software Developer ';
    }
    80.9948032665%,
    81.3649985152% {
      content: '​Open Source Enthusiast ';
      content: '​Open Source Enthusiast '/' Software Developer ';
      alt: ' Software Developer ';
    }
    81.3659985152%,
    89.4570549369% {
      content: '​Open Source Enthusiast 󰮮';
      content: '​Open Source Enthusiast 󰮮'/' Software Developer ';
      alt: ' Software Developer ';
    }
    89.4580549369%,
    89.7540111359% {
      content: '​Open Source Enthusiast ';
      content: '​Open Source Enthusiast '/' Software Developer ';
      alt: ' Software Developer ';
    }
    89.7550111359%,
    90.0509673348% {
      content: '​Open Source Enthusiast';
      content: '​Open Source Enthusiast'/' Software Developer ';
      alt: ' Software Developer ';
    }
    90.0519673348%,
    90.3479235338% {
      content: '​Open Source Enthusias';
      content: '​Open Source Enthusias'/' Software Developer ';
      alt: ' Software Developer ';
    }
    90.3489235338%,
    90.6448797327% {
      content: '​Open Source Enthusia';
      content: '​Open Source Enthusia'/' Software Developer ';
      alt: ' Software Developer ';
    }
    90.6458797327%,
    90.9418359317% {
      content: '​Open Source Enthusi';
      content: '​Open Source Enthusi'/' Software Developer ';
      alt: ' Software Developer ';
    }
    90.9428359317%,
    91.2387921307% {
      content: '​Open Source Enthus';
      content: '​Open Source Enthus'/' Software Developer ';
      alt: ' Software Developer ';
    }
    91.2397921307%,
    91.5357483296% {
      content: '​Open Source Enthu';
      content: '​Open Source Enthu'/' Software Developer ';
      alt: ' Software Developer ';
    }
    91.5367483296%,
    91.8327045286% {
      content: '​Open Source Enth';
      content: '​Open Source Enth'/' Software Developer ';
      alt: ' Software Developer ';
    }
    91.8337045286%,
    92.1296607275% {
      content: '​Open Source Ent';
      content: '​Open Source Ent'/' Software Developer ';
      alt: ' Software Developer ';
    }
    92.1306607275%,
    92.4266169265% {
      content: '​Open Source En';
      content: '​Open Source En'/' Software Developer ';
      alt: ' Software Developer ';
    }
    92.4276169265%,
    92.7235731255% {
      content: '​Open Source E';
      content: '​Open Source E'/' Software Developer ';
      alt: ' Software Developer ';
    }
    92.7245731255%,
    93.0205293244% {
      content: '​Open Source ';
      content: '​Open Source '/' Software Developer ';
      alt: ' Software Developer ';
    }
    93.0215293244%,
    93.3174855234% {
      content: '​Open Source';
      content: '​Open Source'/' Software Developer ';
      alt: ' Software Developer ';
    }
    93.3184855234%,
    93.6144417223% {
      content: '​Open Sourc';
      content: '​Open Sourc'/' Software Developer ';
      alt: ' Software Developer ';
    }
    93.6154417223%,
    93.9113979213% {
      content: '​Open Sour';
      content: '​Open Sour'/' Software Developer ';
      alt: ' Software Developer ';
    }
    93.9123979213%,
    94.2083541203% {
      content: '​Open Sou';
      content: '​Open Sou'/' Software Developer ';
      alt: ' Software Developer ';
    }
    94.2093541203%,
    94.5053103192% {
      content: '​Open So';
      content: '​Open So'/' Software Developer ';
      alt: ' Software Developer ';
    }
    94.5063103192%,
    94.8022665182% {
      content: '​Open S';
      content: '​Open S'/' Software Developer ';
      alt: ' Software Developer ';
    }
    94.8032665182%,
    95.0992227171% {
      content: '​Open ';
      content: '​Open '/' Software Developer ';
      alt: ' Software Developer ';
    }
    95.1002227171%,
    95.3961789161% {
      content: '​Open';
      content: '​Open'/' Software Developer ';
      alt: ' Software Developer ';
    }
    95.3971789161%,
    95.6931351151% {
      content: '​Ope';
      content: '​Ope'/' Software Developer ';
      alt: ' Software Developer ';
    }
    95.6941351151%,
    95.990091314% {
      content: '​Op';
      content: '​Op'/' Software Developer ';
      alt: ' Software Developer ';
    }
    95.991091314%,
    96.287047513% {
      content: '​O';
      content: '​O'/' Software Developer ';
      alt: ' Software Developer ';
    }
    96.288047513%,
    100% {
      content: '​';
      content: '​'/' Software Developer ';
      alt: ' Software Developer ';
    }
  }
  .input-wrapper > input:focus + .placeholder,
  .input-wrapper > input:active + .placeholder {
    display: none;
  }
</style>
