---
import Layout from '@layouts/layout.astro'
import BlogBento from '@components/blog/blog-bento.astro'
---

<Layout title='Blog - jamerrq.dev' lang='es'>
  <main class='h-[100dvh] w-[100dvw] grid items-center justify-center'>
    <BlogBento lang='es' />
  </main>
</Layout>
