---
import Layout from '@layouts/layout.astro'
import FeaturedProjectsBento from '@components/featured-and-projects/featured-projects-bento.astro'
---

<Layout title='Projects & Featured - jamerrq.dev' lang="es">
  <main
    class='h-[100dvh] w-[100dvw] grid items-center justify-center'
  >
    <FeaturedProjectsBento lang='es' />
  </main>
</Layout>
