---
import Layout from '@layouts/layout.astro'
import Bento from '@components/main/main-bento.astro'
---

<Layout title='jamerrq.dev (es)' lang='es'>
  <main class='h-[100dvh] w-[100dvw] grid items-center justify-center'>
    <Bento lang='es' />
  </main>
</Layout>
