---
import Layout from '@layouts/layout.astro'
import Bento from '@components/main/main-bento.astro'
---

<Layout title='jamerrq.dev (es)'>
  <main
    class='h-[100dvh] w-[100dvw] xl:grid items-center justify-center hidden'
  >
    <Bento />
  </main>
</Layout>
