---
import Footer from '@components/main/footer.astro'
import Layout from './layout.astro'
interface Props {
  frontmatter: {
    title: string
    hrefLang: string
  }
}
const { frontmatter }: Props = Astro.props
import Buttons from '@components/main/buttons.astro'
---

<Layout title={frontmatter.title}>
  <main
    class='dark:bg-[#1b383c] bg-[#9DBC98] w-[95dvw] min-h-[95dvh] mx-auto p-4 dark:text-emerald-50 [&>*]:text-balance'
  >
    <div class='sticky top-2'>
      <Buttons href={frontmatter.hrefLang} />
    </div>
    <br />
    <header
      transition:name='blog-title'
      class='flex font-merriweather text-slate-950 bg-emerald-500 p-2 cursor-pointer font-bold'
      onclick='window.history.back()'
    >
      <h1>
        {frontmatter.title}
      </h1>
    </header>
    <br />
    <div
      class='[&>h1]:font-bold [&_h1]:text-emerald-900 [&_h1]:dark:text-emerald-300 [&_h2]:text-emerald-900 [&_h2]:dark:text-emerald-300 [&_h3]:text-emerald-900 [&_h3]:dark:text-emerald-300 [&_h1]:text-xl [&_h1]:xl:text-3xl [&_h1]:font-bold [&_h2]:font-semibold [&_h2]:text-lg [&_h2]:xl:text-2xl [&_h3]:text-base [&_h3]:xl:text-xl [&_h3]:font-semibold [&_p]:text-pretty [&_ul]:m-4 [&_ul]:list-disc max-w-[800px] [&_a]:font-semibold [&_a]:text-cyan-950 [&_a]:dark:text-cyan-300 flex flex-col gap-2 mb-8 [&_blockquote]:[font-merriweather] [&_code]:[font-merriweather] [&_a]:underline'
    >
      <slot />
    </div>
  </main>
  <Footer />
</Layout>
