---
interface Props {
  title: string
  lang?: string
}

const { title, lang = 'en' }: Props = Astro.props

// Fonts
import '@fontsource/averia-serif-libre'

// Styles
import '@styles/index.css'

// Others
import { ViewTransitions } from 'astro:transitions'
import Background from '@components/main/background.astro'
import SEO from '@components/head/seo.astro'
import Scripts from '@components/head/scripts.astro'
import ReloadPrompt from '@components/main/ReloadPrompt.astro'
---

<!doctype html>
<html lang={lang}>
  <head>
    <SEO />
    <title>{title}</title>
    <!-- Analytics by Umami -->
    <script
      is:inline
      defer
      src='https://analytics.us.umami.is/script.js'
      data-website-id='69d89d94-e4e2-42cc-a3c7-c40048915156'></script>
    <ViewTransitions />
  </head>
  <body data-dev={import.meta.env.DEV} class='data-[dev]:debug-screens'>
    <wc-toast></wc-toast>
    <Background />
    <main class='min-h-[100dvh] grid place-content-center'>
      <slot />
    </main>
    <Scripts />
    <ReloadPrompt />
  </body>
</html>
