---
interface Props {
  title: string
}

const { title } = Astro.props
import '@fontsource/merriweather'
import { ViewTransitions } from 'astro:transitions'
import ResponsiveContainer from '../components/responsive-container.astro'
import Background from '../components/background.astro'
const BODY_CLASS = import.meta.env.MODE === 'development' ? 'debug-screens' : ''
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='jamerrq.dev' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image' href='/favicon.png' />
    <!-- Preconnect to Google Fonts CDN -->
    <link rel='preconnect' href='https://fonts.googleapis.com' crossorigin />
    <link
      rel='stylesheet'
      type='text/css'
      href='https://unpkg.com/css-peeps@1/css-peeps.css'
    />
    <meta name='generator' content={Astro.generator} />
    <meta property='og:title' content='jamerrq.dev' />
    <meta property='og:type' content='personal website' />
    <meta property='og:url' content='https://jamerrq.deno.dev' />
    <meta property='og:image' content='https://jamerrq.deno.dev/og-image.png' />
    <meta property='og:description' content='Software Developer.' />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class={BODY_CLASS}>
    <ResponsiveContainer />
    <Background />
    <slot />
    <style is:global>
      @font-face {
        src: url('/fonts/RubikDoodleShadow/RubikDoodleShadow-Regular.woff2');
        font-family: 'Rubik Doodle Shadow';
      }

      @font-face {
        src: url('/fonts/RobotoSlab/RobotoSlab-VariableFont_wght.woff2');
        font-family: 'Roboto Slab';
      }

      @font-face {
        src: url('/fonts/FiraMonoNerd/FiraMonoNerdFontMono-Medium.woff2');
        font-family: 'Fira Mono Nerd';
      }

      .responsive-text {
        font-size: clamp(1.5rem, 8vw - 2rem, 3rem);
      }

      .responsive-text-xs {
        font-size: clamp(1rem, 6vw - 1.5rem, 2rem);
      }

      .responsive-text-sm {
        font-size: clamp(0.75rem, 4vw - 1rem, 1.5rem);
      }

      .responsive-text-xxs {
        font-size: clamp(0.5rem, 2vw - 0.5rem, 1rem);
      }
    </style>
  </body>
</html>
