---
interface Props {
  title: string
  lang?: string
}

const { title, lang = 'en' }: Props = Astro.props

// Fonts
import '@fontsource/merriweather'
// import '@fontsource/rubik-doodle-shadow'
import '@fontsource/averia-serif-libre'

// Styles
import '@styles/index.css'

// Others
import { ViewTransitions } from 'astro:transitions'
import Background from '@components/main/background.astro'
import SEO from '@components/head/seo.astro'
import Scripts from '@components/head/scripts.astro'
---

<!doctype html>
<html lang={lang}>
  <head>
    <SEO />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body data-dev={import.meta.env.DEV} class='data-[dev]:debug-screens'>
    <wc-toast></wc-toast>
    <Background />
    <main class='min-h-[100dvh] grid place-content-center'>
      <slot />
    </main>
    <Scripts />
  </body>
</html>
