---
interface Props {
  title: string
}

const { title } = Astro.props
import '@fontsource/merriweather'
// import { ViewTransitions } from 'astro:transitions'
const MODE = import.meta.env.MODE
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='jamerrq.dev' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image' href='/favicon.png' />
    <!-- Preconnect to Google Fonts Cdn -->
    <link rel='preconnect' href='https://fonts.googleapis.com' crossorigin />
    <meta name='generator' content={Astro.generator} />
    <meta property='og:title' content='jamerrq.dev' />
    <meta property='og:type' content='personal website' />
    <meta property='og:url' content='https://jamerrq.deno.dev' />
    <meta property='og:image' content='https://jamerrq.deno.dev/og-image.png' />
    <meta property='og:description' content='Software Developer.' />
    <title>{title}</title>
    <!-- <ViewTransitions /> -->
  </head>
  <body class=`${MODE === 'development' ? 'debug-screens' : ''}`>
    <slot />
  </body>
</html>
<style is:global>
  @import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

  @font-face {
    src: url('/fonts/FiraMonoNerd/FiraMonoNerdFontMono-Medium.otf')
      format('opentype');
    font-family: 'Fira';
  }

  .responsive-text {
    font-size: clamp(1.5rem, 8vw - 2rem, 3rem);
  }

  .responsive-text-xs {
    font-size: clamp(1rem, 8vw - 2rem, 2rem);
  }

  .responsive-text-sm {
    font-size: clamp(0.75rem, 8vw - 2rem, 1.5rem);
  }

  .responsive-text-xxs {
    font-size: clamp(0.5rem, 8vw - 2rem, 1rem);
  }

  main#background {
    background-image: url('/pizarra.webp');
  }
</style>
